@import '../../mixins/vw';

.consultForm {
  position: relative;
  display: flex;
  align-items: flex-start;
  @include dim('gap', 168, 168);
  @include merge;

  &__text {
    display: flex;
    flex-direction: column;
    @include dim('gap', 30, 30);
    @include dim('w', 532, 532);
    @include merge;

    p {
      line-height: 140%;
    }
  }

  .form__body {
    display: grid;
    align-items: center;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    @include dim('grid-row-gap', 39, 39);
    @include dim('grid-column-gap', 20, 20);
    @include merge;

    &>div {
      width: 100%;
    }

    .btn {
      width: 100%;
    }
  }

  input {
    width: 100%;
  }
}

.agreement-link {
  text-decoration: underline;
    color: $text-accent;
    transition: .1s;

    &:hover {
      text-decoration: none;
    }
}

@media (max-width: 1199px) {
  .consultForm {
    gap: 59px;
    justify-content: space-between;

    &__text {
      max-width: 180px;
      width: 100%;

      h3 {
        font-size: 22px;
        gap: 30px;
      }

      .text {
        font-size: 16px;
      }
    }

    &__form {
      overflow: hidden;
    }

    .form__body {
      width: 100%!important;
      grid-row-gap: 30px;

      &>div {
        max-width: 100%;
        min-width: 219px;
      }
    }
  }
}


@media (max-width: 767px) {
  .consultForm {
    flex-direction: column;

    &__text {
      max-width: 100%;
      padding-right: 40px;

      h3 {
        font-size: 22px;
        gap: 30px;
      }

      .text {
        font-size: 16px;
      }
    }

    &__form {
      width: 100%;
    }

    .form__body {
      grid-template-columns: 1fr;
      grid-row-gap: 50px;
      grid-column-gap: 0;

      & > div:last-child {
        margin-top: -30px;
      }
    }
  }
}
