@import '../../mixins/vw';

.contacts {
  padding-top: 40px;
  @include dim('pb', 100, 0);
  @include merge;

  @media (max-width: 1023px) {
    overflow: hidden;
  }

  &__inner {
    display: grid;
    grid-template-columns: minmax(580px, 1.4fr) minmax(300px, 1fr);
    gap: 20px;

    @media (max-width: 1023px) {
      grid-template-columns: 1fr;
    }
  }

  &__items {
    background: $bg-line;
    border-radius: 20px;
    @include dim('p', 50, 30);
    @include dim('min-h', 415, 286);
    @include merge;
    @media (max-width: 1023px) {
      border: 1px solid #000;
    }
  }

  &__item {
    display: none;
    height: 100%;
    flex-direction: column;

    &.active {
      display: flex;
    }

    &-phone {
      margin-bottom: 20px;
      @include merge;

      &:first-child {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        @include dim('gap', 30, 10);
        @include merge;

        .contacts__item-link {
          @include dim('fz', 50, 18);
          @include merge;
          line-height: 100%;
        }
      }
    }

    &-link {
      @include dim('fz', 35, 18);
      @include merge;
      line-height: 140%;
      color: $text-secondary;
      transition: $transition;
      font-weight: 700;

      @media (max-width: 1199px) {
        line-height: 130%;
        font-weight: 600;
      }

      &:hover {
        color: $text-accent;
      }
    }

    &-additional {
      font-weight: 700;
      @include dim('fz', 16, 14);
      @include merge;
      line-height: 140%;

      @media (max-width: 1199px) {
        color: $text-minimal-dark;
        line-height: 100%;
        font-weight: 600;
      }
      @media (max-width: 767px) {
        line-height: 130%;
      }
    }

    &-email {
      @include dim('fz', 35, 18);
      @include merge;
      line-height: 140%;
      color: $text-secondary;
      transition: $transition;
      font-weight: 700;
      @include dim('mb', 20, 20);
      @include merge;

      @media (max-width: 1199px) {
        font-weight: 600;
        line-height: 130%;
      }

      &:hover {
        color: $text-accent;
      }
    }

    &-office {
      color: $text-minimal-dark;
      margin-top: auto;
      @include dim('mb', 27, 10);
      @include merge;

      @media (max-width: 1199px) {
        line-height: 130%;
      }
    }

    &-address {
      font-weight: 700;
      font-size: 18px;
      line-height: 130%;
      min-height: 2lh;

      @media (max-width: 1199px) {
        font-weight: 600;
      }
    }
  }

  &__social {
    background: $white;
    border: 3px solid $bg-line;
    border-radius: 20px;
    @include dim('min-h', 415, 358);
    @include dim('pt', 52, 30);
    @include dim('pb', 52, 30);
    @include merge;
    padding-inline: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    @media (max-width: 1023px) {
      padding-inline: 30px;
    }

    &-icons {
      display: flex;
      align-content: center;
      justify-content: center;
      gap: 20px;
      @include dim('pb', 47, 30);
      @include merge;
    }

    &-title {
      @include dim('pb', 25, 15);
      @include merge;
      @media (max-width: 767px) {
        font-weight: 600;

        br {
          display: none;
        }
      }
    }

    &-text {
      text-wrap: balance;
      color: $text-minimal-dark;

      @media (max-width: 1199px) {
        font-weight: 400;
        br {
          display: none;
        }
      }
    }
  }

  &__map {
    border-radius: 20px;
    overflow: hidden;
    @include dim('mt', 20, 40);
    @include merge;

    @media (max-width: 1023px) {
      margin-left: -21px;
      margin-right: -21px;
      border-radius: 0;
    }
  }
}


.about {
  position: relative;
  @include dim('pt', 80, 70);
  @include dim('pb', 132, 72);
  @include merge;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    flex-direction: column;
    @include dim('gap', 50, 30);
    @include dim('w', 680);
    @include merge;
  }

  &__link {
    display: flex;
    width: fit-content;
    align-items: center;
    transition: $transition;
    @include dim('gap', 30, 30);
    @include dim('fz', 25, 18);
    @include merge;

    svg {
      @include dim('w', 56, 56);
      @include merge;
      transition: $transition;

      path {
        transition: $transition;
      }
    }

    &:hover {
      svg {
        transform: translateX(20%);

        path {
          fill: $logo-green;
        }
      }
    }
  }

  &__numbers {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include dim('w', 670, 670);
    @include merge;

    &:before {
      content: '';
      z-index: 2;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $white;
      @include dim('w', 46, 0);
      @include dim('h', 84, 0);
      @include merge;
    }
  }

  &__number {
    @include dim('h', 185, 121);
    @include dim('gap', 20, 20);
    @include merge;
    display: flex;
    flex-direction: column;

    &-value {
      display: flex;
      align-items: center;
      user-select: none;
      @include dim('gap', 20, 20);
      @include merge;
    }

    &-value,
    &-value + span {
      color: $text-accent;
      white-space: nowrap;
    }

    &-description {
      @include dim('max-w', 233, 233);
      @include merge;
    }

    &:nth-child(even) {
      align-items: end;
    }

    &:nth-child(3),
    &:last-child {
      @include dim('pt', 40, 40);
      @include merge;
    }

    &:first-child {
      border-right: 1px solid $bg-green-light;
      border-bottom: 1px solid $bg-green-light;
    }

    &:last-child {
      transform: translate(-1px, -1px);
      border-left: 1px solid $bg-green-light;
      border-top: 1px solid $bg-green-light;
    }
  }
}

@media (max-width: 1199px) {
  .about {
    &__inner {
      gap: 150px;
    }

    &__info {
      width: 45%;
      min-width: 330px;
      gap: 50px;

      .btn {
        width: 100%;
      }
    }

    &__title {
      font-weight: 600;
    }

    &__numbers {
      max-width: 100%;
      min-width: 220px;
      display: flex;
      flex-direction: column;

      &:before {
        display: none;
      }
    }

    &__number {
      border-bottom: 1px solid $bg-green-light;

      &:nth-child(even) {
        align-items: start;
      }

      &:not(:first-child) {
        padding-top: 20px;
      }

      &:first-child {
        padding-top: 0;
        padding-bottom: 20px;
        border-right: none;
        border-bottom: 1px solid $bg-green-light;
      }

      &:last-child {
        border: none;
        transform: none;
      }

      &-value p,
      &-value + span {
        font-weight: 600;
      }

      &-description {
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 767px) {
  .about {
    padding: 60px 0 63px 0;

    &__inner {
      flex-direction: column;
      gap: 70px;
    }

    &__info {
      gap: 40px;
      width: 100%;
      min-width: 100%;
    }

    &__link {
      font-size: 16px;
    }

    &__numbers {
      width: 100%;
      min-width: 100%;
      gap: 35px;
    }

    &__number {
      &:not(:first-child) {
        padding-top: 0;
      }

      padding-top: 0;
      height: 158px;

      &-value p,
      &-value + span {
        font-size: 78px;
      }
    }
  }
}
