@import '../../../../../node_modules/lightgallery/scss/lightgallery.scss';

.lg-toolbar {
  .lg-close:after{
    content: '\2716' !important;
  }

  .lg-download:after{
    content: '\1F4BE' !important;
  }
}

.lg-img-wrap{
  object-fit:contain;
}

.lg-outer .lg-object{
  height: 100% !important;
}

.lg-backdrop.in{
  opacity: 0.5;
}

.feedback {
  &--white {
    background: $white;
  }

  .container {
    @include dim('pt', 80, 44.5);
    @include dim('pb', 77, 60);
    @include merge;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $bg-green-light;
    align-items: center;
    @include dim('gap', 65, 65);
    @include dim('pb', 40, 20);
    @include dim('mb', 38, 30);
    @include merge;

    p{
      @include dim('max-w', 685, 685);
      @include merge;
    }
  }

  &__swiper {
    position: relative;
    left: vw(-10);
    width: calc( 100% + vw(20));
    @include dim('max-h', 600, 465);
    @include merge;
  }

  .swiper.feedback-swiper {
    height: 100%;
    .swiper-wrapper {
      @include dim('max-h', 600, 465);
      @include merge;
      .swiper-slide {
        @include dim('pl', 10, 0);
        @include dim('pr', 10, 0);
        @include dim('mb', 20, 0);
        @include merge;
        margin-top: 0 !important;
        &:nth-child(2n){
          margin-bottom: 0px;
        }
      }
    }
  }

  .feedback-swiper-pagination.swiper-pagination-bullets {
    position: relative;
    bottom: 0;
    top: 0;
    left: 0;
    @include dim('mt', 40, 30);
    @include merge;
  }
}

@media (max-width: 1199px) {

  .feedback {
    height: 100%;
    max-height: 100%;

    .container{
      height: 100%;
      max-height: 100%;
    }

    &__top {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $bg-green-light;
      min-width: 291px;
    }

    &__swiper {
      position: relative;
      left: 0;
      width: 100%;
    }

    .swiper.feedback-swiper {
      height: 100%;
    }
  }

}

@media (max-width: 765px) {
  .feedback {

    &__top {
      flex-direction: column;
      align-items: start;
      justify-content: start;
      gap: 40px;
      a.headline {
        width: 100%;
      }
    }

    .feedback-swiper-pagination {
      margin-top: 24.5px !important;
    }
  }
}
