@import '../../mixins/vw';

.services {
  @include dim('pt', 80, 40);
  @include dim('pb', 120, 50);
  @include merge;
  background: $bg-secondary;

  &__inner {
    display: flex;
    flex-direction: column;
    @include dim('gap', 100, 16);
    @include merge;
  }

  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include dim('pb', 40, 40);
    @include merge;
    border-bottom: 1px solid $bg-green-light;
  }

  &__title {
    @include dim('max-w', 680, 680);
    @include merge;
    font-weight: 400;
  }

  &__list {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__col {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    @include dim('gap', 60, 20);
    @include merge;

    &:nth-child(odd) {
      .services__item-simple:first-child,
      .services__item-simple:last-child {
        @include dim('l', 120, 120);
        @include merge;
      }

      .services__item-simple:nth-child(2),
      .services__item-simple:nth-child(4) {
        @include dim('l', 20, 20);
        @include merge;
      }
    }

    &:nth-child(even) {
      .services__item-simple:first-child,
      .services__item-simple:last-child {
        @include dim('r', 120, 120);
        @include merge;
      }

      .services__item-simple:nth-child(2),
      .services__item-simple:nth-child(4) {
        @include dim('r', 20, 20);
        @include merge;
      }
    }
  }

  &__item-simple {
    position: relative;
    display: flex;
    align-items: center;
    background: $white;
    @include dim('gap', 15, 15);
    @include dim('w', 450, 450);
    @include dim('max-w', 450, 450);
    @include dim('br', 10, 10);
    @include dim('p', 15, 15);
    @include dim('h', 90, 84);
    @include merge;

    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 50%;
      right: 0;
      transform: translate(50%, -50%);
      @include dim('w', 82, 82);
      @include dim('h', 82, 82);
      @include dim('br', 28, 28);
      @include merge;
      background: $bg-secondary;
      transition: $transition;
      opacity: 0;
    }

    &__icon {
      @include dim('w', 55, 42);
      @include dim('h', 55, 42);
      @include dim('p', 7, 5);
      @include merge;
      aspect-ratio: 1 / 1;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    &__name {
      @include dim('max-w', 252, 252);
      @include merge;
      transition: $transition;
    }

    &__btn {
      position: absolute;
      top: 50%;
      right: 0;
      z-index: 2;
      transform: translateY(-50%);
      border: 1px solid transparent;
      background: $white;
      @include dim('br', 20, 20);
      @include dim('min-w', 66, 66);
      @include dim('min-h', 66, 66);
      @include merge;

      .btn__icon {
        border-radius: 0;
      }

      &:hover {
        background: transparent;
        border: 1px solid transparent;
      }
    }

    &:hover {
      &:before {
        opacity: 1;
      }

      .services__item-simple__name {
        color: $icon-accent;
      }

      .services__item-simple__btn {
        transform: translate(50%, -50%);
        background: $icon-accent;
        @include dim('br', 20, 20);
        @include merge;

        svg path {
          stroke: $white;
          fill: $white;
        }
      }
    }
  }

  &-list {
    @include dim('pt', 70, 70);
    @include dim('pb', 70, 70);
    @include merge;
  }

  &-list__inner {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(vw(350), auto);
    @include dim('gap', 20, 20);
    @include merge;
  }

  &__item-custom {
    position: relative;
    display: flex;
    flex-direction: column;
    background: $bg-secondary;
    width: 100%;
    transition: $transition;
    @include dim('gap', 20, 20);
    @include dim('br', 15, 15);
    @include dim('p', 30, 30);
    @include dim('h', 350, 279);
    @include merge;

    &:hover {
      background: $bg-line;

      .services__item-custom-name {
        color: $icon-accent;
      }
    }


    &-icon {
      width: 100%;
      @include merge;
      display: flex;
      justify-content: flex-end;
      margin-top: auto;

      svg {
        @include dim('w', 100, 100);
        @include dim('h', 100, 100);
        @include merge;
      }
    }

    &-name {
      transition: .2s;
      font-weight: 600;

      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      overflow: hidden;
      transition: .2s;
    }

    &-description {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      overflow: hidden;
      transition: .2s;
    }

    &--1 { grid-area: 1 / 1 / 2 / 3; }
    &--2 { grid-area: 1 / 3 / 2 / 5; }
    &--3 { grid-area: 1 / 5 / 2 / 7; }
    &--4 { grid-area: 2 / 1 / 3 / 4; }
    &--5 { grid-area: 2 / 4 / 3 / 7; }
    &--6 { grid-area: 3 / 1 / 4 / 3; }
    &--7 { grid-area: 3 / 3 / 4 / 5; }
    &--8 { grid-area: 3 / 5 / 4 / 7; }
    &--9 { grid-area: 4 / 1 / 5 / 4; }
    &--10 { grid-area: 4 / 4 / 5 / 7; }
  }

  &__globe {
    position: absolute;
    cursor: grab;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //возможно потом понадобится:
    //filter: drop-shadow(0px 0px 5px $icon-accent);

    &:active {
      cursor: grabbing;
    }

    #globe-2d-overlay {
      display: none;
    }
  }

  &--other {
    background: $white;

    .services__top {
      border:  none;
      padding: 0;
    }

    .services__inner {
      @include dim('gap', 40, 40);
      @include merge;
    }

    .services__item-simple {
      background: $bg-secondary;
      width: 100%;
      max-width: 100%;

      &:before {
        background: $white;
        @include dim('border-top-right-radius', 20, 20);
        @include dim('border-bottom-right-radius', 20, 20);
        @include merge;
      }

      .btn {
        background: $bg-secondary;
      }

      &:hover {
        .btn {
          background: $icon-accent;
          transform: translate(0, -50%);
        }

        &:before {
          transform: translate(0, -50%);
        }
      }
    }

    .services__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      @include dim('column-gap', 30, 30);
      @include dim('row-gap', 20, 20);
      @include merge;
    }
  }
}

@media (max-width: 1199px) {
  .services {
    &__title {
      max-width: 50%;
      padding-left: 25px;
    }

    &__globe {
      pointer-events: none;
    }

    &__list {
      gap: 25px;
    }

    &__col {
      width: 50%;
    }

    &__item-simple {
      left: 0!important;
      right: 0!important;
      max-width: 100%;
      width: 100%;

      &:before {
        display: none;
      }

      &__name {
        font-size: 16px;
        max-width: calc(100% - 110px);
      }

      &:hover {
        .services__item-simple__name {
          color: $text-primary;
        }

        .services__item-simple__btn {
          transform: translate(8px, -50%);
        }
      }
    }

    &__globe {
      transform: translate(-50%, -50%) scale(.95);
    }

    &-list__inner {
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }

    &__item-custom {
      grid-area: auto;

      &-name {
        font-size: 22px;
      }

      svg {
        width: 60px;
        height: 60px;
      }
    }

    &--other {
      padding-bottom: 60px;
      .services__list {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}


@media (max-width: 767px) {
  .services {
    padding-top: 60px;
    padding-bottom: 16px;

    &__top {
      flex-direction: column;
      gap: 40px;
      padding-bottom: 30px;
    }

    &__title {
      max-width: 100%;
      padding: 0;
      font-size: 18px;
    }

    &__inner {
      gap: 40px;
    }

    &__list {
      flex-direction: column;
      gap: 20px;
    }

    &__col {
      width: 100%;
      gap: 20px;
    }

    &__item-simple {
      height: 90px;
      &__btn {
        display: none;
      }

      &__name {
        font-weight: 600;
      }

      &__icon {
        width: 55px;
        height: 55px;
      }
    }

    &-list {
      padding: 60px 0;
    }

    &-list__inner {
      display: flex;
      flex-direction: column;
    }

    &__item-custom {
      height: 279px;

      &-icon {
        order: -1;
        justify-content: flex-start;
        margin-top: 0;
      }

      &-name {
        font-size: 20px;
      }
    }

    &--other {
      padding-bottom: 60px;
      background: $bg-secondary;
      .services__list {
        grid-template-columns: repeat(1, 1fr);
      }

      .services__item-simple {
        background: $white;
      }
    }
  }
}
