@import '../../mixins/vw';

.social-field{
    position: relative;
    background-color: $bg-line;

    width: calc( 100% + vw(130));
    @include dim('btlr', 20, 20);
    @include dim('bblr', 20, 20);
    @include merge;

    &__container{
        display: flex;
        align-items: center;
        @include dim('gap', 40, 30);
        @include dim('pt', 23, 30);
        @include dim('pb', 23, 30);
        @include dim('pl', 40, 40);
        @include dim('pr', 40, 0);
        @include merge;
    }

    &__list{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        @include dim('gap', 10, 10);
        @include merge;
    }

    &__all-container{
        pointer-events: none;
        left: 100%;
        display: flex;
        align-items: center;
        position: absolute;
        @include dim('pl', 10, 10);
        @include dim('gap', 10, 10);
        @include merge;
        transform: translate(-20%);
        opacity: 0;
        transition: all $transition;
        z-index: -1;

        @media (max-width: 765px) {
            max-height: 200px;
            padding: 10px;
            flex-direction: column;
            flex-wrap: wrap;
            bottom: 100%;
            left: auto;
            right: -10px;
          
            background-color: $bg-line;
            border-radius: 10px;
            transform: translateY(20%);
        }
    }

    &__all-container:hover{
        pointer-events: all;
        z-index: 10;
        transition: all $transition;
        opacity: 1;
        transform: translate(0);
    }

    &__item.btn{
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        @include dim('h', 40, 60);
        @include dim('w', 40, 60);
        @include dim('min-w', 40, 60);
        @include dim('max-h', 40, 60);
        @include dim('br', 10, 10);
        @include merge;
        object-fit: contain;
        .btn__icon{
            max-height: 40%;
            max-width: 40%;
        }

        &.mobile{
            display: flex;
            .btn__icon{
                max-height: auto;
                max-width: 33px;
                @include dim('max-w', 33, 33);
                @include merge;
                width: 100%;
            }
            &:hover{
                & ~ .social-field__all-container{
                    pointer-events: all;
                    z-index: 1;
                    transition: all $transition;
                    opacity: 1;
                    transform: translateX(0);
                }
            }
        }

        &.btn-variant-primary:hover{
            background-color: $bg-line-dark;
        }

        &.social-telegram:hover{
            background-color: $tg;
            svg path{
                fill: $icon-primary;
            }
        }

        &.social-facebook:hover{
            background-color: $facebook;
            svg path{
                fill: $icon-primary;
            }
        }

        &.social-vk:hover{
            background-color: $vk;
            svg path{
                fill: $icon-primary;
            }
        }

        &.social-post:hover{
            background-color: $post;
            svg path{
                fill: $icon-primary;
            }
        }

        &.social-dzen:hover{
            background-color: $dzen-black;
            svg path{
               
            }
        }

        &.social-vrchat:hover{
            background-color: $vrchat;
            svg path{
                fill: $icon-primary;
            }
        }

        &.social-whatsapp:hover{
            background-color: $whatsapp;
            svg path{
                fill: $icon-primary;
            }
        }

        &.social-youtube:hover{
            background-color: $youtube;
            svg path{
                fill: $icon-primary;
            }
        }
    }
}

@media (max-width: 1199px) {
    .social-field{
        width: calc( 100% + 20px);
        &__item.btn{
            &.mobile{
                display: flex;
            }
        }
    }
}


@media (max-width: 765px) {
    .social-field{
        &__container{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
        }
    }
}