@import '../../mixins/vw';

.tags {
  background: $white;
  @include dim('pt', 30, 30);
  @include dim('pb', 30, 30);
  @include merge;

  &__list {
    display: flex;
    align-items: center;
    @include dim('gap', 10, 15);
    @include merge;
    width: 100%;
    overflow-x: auto;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $bg-secondary;
    color: $text-secondary;
    white-space: nowrap;
    @include dim('h', 55, 56);
    @include dim('pr', 30, 20);
    @include dim('pl', 30, 20);
    @include dim('br', 10, 10);
    @include merge;
  }
}

@media (max-width: 1199px) {
  .tags {
    &__list {
      width: calc(100% + 40px);
      padding-left: 20px;
      padding-right: 20px;
      margin-left: -20px;

    }

    &__item {
      font-size: 20px;
      font-weight: 500;
    }
  }
}
