@import '../../mixins/vw';

.tags-line{
    .container{
        @include dim('pt', 30, 30);
        @include dim('pb', 30, 30);
        @include merge;
    }

    &__list{
        display: flex;
        flex-wrap: wrap;
        @include dim('gap', 10, 10);
        @include merge;
    }

    &__item{
        cursor: pointer;
        position: relative;
        transition: all 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $bg-primary;
        border: 1px solid $bg-line-dark;
        width: max-content;
        text-wrap: nowrap;
        @include dim('br', 10, 10);
        @include dim('pt', 15, 15);
        @include dim('pb', 15, 15);
        @include dim('pl', 30, 30);
        @include dim('pr', 30, 30);
        @include dim('max-h', 48,56);
        @include merge;
        .text--xs{
            @include dim('fz', 18, 16);
            @include merge;
        }

        &:hover{
            background-color: $bg-line-dark;
        }

        &.active{
            cursor: default;
            transition: all $transition;
            background-color: $bg-green;
            color: $text-invert;
        }
    }
}

@media (max-width: 765px) {
    .tags-line{
        .container{
            padding-right: 30px;
            padding-left: 30px;
            overflow-x: auto;
        }

        &__list{
            flex-wrap: nowrap;
        }

        &__item{
            .text--xs{
                font-size: 18px;
            }
        }
    }
 }
