-
  const defaultContentTextProps = {
      classes: '',
      topTexts: [],
      btn: false,
      btnText: '',
      btnModal: false,
      tags: [],
      unorderedList: [],
      orderedList: [],
      dashedLinks: [],
      subTitle: '',
  }

mixin content-text(props = defaultContentTextProps, ...dataset)
  -
    const checkProps = {
        classes: props.classes ? props.classes : defaultContentTextProps.classes,
        topTexts: props.topTexts ? props.topTexts : defaultContentTextProps.topTexts,
        btn: props.btn ? props.btn : defaultContentTextProps.btn,
        btnText: props.btnText ? props.btnText : defaultContentTextProps.btnText,
        btnModal: props.btnModal ? props.btnModal : defaultContentTextProps.btnModal,
        tags: props.tags ? props.tags : defaultContentTextProps.tags,
        unorderedList: props.unorderedList ? props.unorderedList : defaultContentTextProps.unorderedList,
        orderedList: props.orderedList ? props.orderedList : defaultContentTextProps.orderedList,
        dashedLinks: props.dashedLinks ? props.dashedLinks : defaultContentTextProps.dashedLinks,
        subTitle: props.subTitle ? props.subTitle : defaultContentTextProps.subTitle,
    }
  include ../../../ui/btn
  include ../../../ui/text
  .content-text(class=`${checkProps.classes}`)&attributes(...dataset)
      if checkProps.topTexts.length > 0
        .content-text__top-texts
            each text in checkProps.topTexts
              +text({
                text: text,
                classes: 'content-text__text',
                variant: 's',
                weight: 'medium'
              })

      if checkProps.btn
        +btn({
          name: checkProps.btnText,
          classes: 'content-text__btn',
          dot: true,
        }, (checkProps.btnModal ? { 'data-hystmodal': '#consult-form' } : ''))

      if checkProps.tags.length > 0
        .content-text__tags
            each tag in checkProps.tags
              +text({
                text: tag,
                classes: 'content-text__tag',
                variant: 'xxs',
                weight: 'medium'
              })
      if checkProps.unorderedList.length > 0
        ul.content-text__unordered-list
            each item in checkProps.unorderedList
              li.content-text__unordered-list-item
                span.content-text__unordered-list-item-dot
                +text({
                  text: item,
                  classes: 'content-text__unordered-list-item-text',
                  variant: 'xxs',
                  weight: 'medium'
                })

      if checkProps.orderedList.length > 0
          ol.content-text__unordered-list.content-text__unordered-list--numbers
            each item in checkProps.orderedList
                li.content-text__unordered-list-item
                    span.content-text__unordered-list-item-dot
                    +text({
                      text: item,
                      classes: 'content-text__unordered-list-item-text',
                      variant: 'xxs',
                      weight: 'medium'
                    })

      if checkProps.dashedLinks.length > 0
        if checkProps.subTitle
          +text({
            variant: 'l',
            weight: 'bold',
            text: checkProps.subTitle,
            classes: 'content-text__sub-title'
          })
        .content-text__dashed-links
          each link in checkProps.dashedLinks
            a.content-text__dashed-link(href="javascript:void(0);")
              +text({
                text: link,
                variant: 'xxs',
                weight: 'medium'
              })



