@import '../../mixins/vw';
.modal {
  &.hystmodal {
    .hystmodal {
      &__wrap {
        padding: 0 20px;
      }

      &__window {
        width: auto;
        @include dim('max-w', 1660, 1000);
        @include dim('p', 70, 20);
        @include merge;
        background: $bg-line;
        border-radius: 20px
      }

      &__close {
        @include dim('t', 20, 20);
        @include dim('r', 20, 20);
        @include dim('w', 40, 36);
        @include dim('h', 40, 36);
        @include merge;
        border-radius: 3px;
        border: 1px solid transparent;
        aspect-ratio: 1 / 1;
        background: #124F2ECC;
        padding: 0;
        transition: $transition;

        svg path {
          stroke: $white;
          transition: $transition;
        }

        &:hover {
          background: transparent;
          border: 1px solid #124F2ECC;

          svg path {
            stroke: #124F2ECC;;
          }
        }

        &:focus-within {
          outline: none;
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .modal {
    &.hystmodal {
      .hystmodal {
        &__window {
          padding: 16px;
          background: #fff;
        }

        &__close {
          top: 10px;
          right: 10px;
        }
      }
    }
  }
}

.hystmodal__shadow {
  z-index: 101;
  background: rgba(9, 54, 30, .85);
}

.hystmodal {
  z-index: 102;
}