extends ../../layouts/layout
block vars
block content
    include ../../components/consult-form
    include ../../components/first-screen
    include ../../components/consult
    include ../../components/tags
    include ../../components/content/content
    include ../../components/content/blocks/content-text
    include ../../components/vacancy-form
    include ../../modal-windows/modal
    .wrapper
        +first-screen({
          patternBgDesktop: './images/pattern-bg/career-desktop.svg',
          patternBgMobile: './images/pattern-bg/career-mobile.svg',
          title: 'Карьера с ВР ЛОГИСТИК',
          subtitle: 'Добро пожаловать в ВР Логистик – компанию, которая занимается профессиональными логистическими решениями и транспортными перевозками.',
          classes: 'first-screen--career',
        })
        +tags({
          tags: ['Москва', 'Офис', 'Полная занятость']
        })
        .content-blocks.content-blocks--with-borders
            .content-blocks
                +content({
                  rounded: true,
                  title: `Почему выбирают нас`,
                })
                    +content-text({
                      topTexts: ['Кроме того, автоперевозки могут осуществляться сборным путем, что позволяет снизить конечную стоимость услуги. Компания VR LOGISTIC предлагает весь спектр услуг по автомобильным перевозкам: перевозки по Москве, России, Европе, Китаю, страхование товара, подготовка таможенной документации и оформление на постах, инспекцию и экспедирование.'],
                      unorderedListTitle: 'Наши преимущества:',
                      unorderedList: [
                        {
                          title: 'Стабильность и надежность',
                          text: 'Работаем на рынке логистики долгие годы и постоянно развиваемся.'
                        },
                        {
                          title: 'Современные технологии',
                          text: 'Используем передовые решения в транспортной логистике.',
                        },
                        {
                          title: 'Карьерный рост',
                          text: 'Поддерживаем развитие сотрудников и предлагаем возможности для продвижения.',
                        },
                        {
                          title: 'Дружный коллектив',
                          text: 'Ценим командную работу, открытость и поддержку друг друга.',
                        },
                        {
                          title: 'Прозрачные условия',
                          text: 'Официальное трудоустройство, своевременные выплаты, бонусы и премии.',
                        },
                        {
                          title: 'Стабильность и надежность',
                          text: 'Работаем на рынке логистики долгие годы и постоянно развиваемся.',
                        }
                      ]
                    })
                +content({
                  rounded: true,
                  title: `Условия работы`,
                  classes: 'content-no-border'
                })
                    +content-text({
                      topTexts: ['Выбирая автоперевозки, вы всегда выбираете качество, быструю перевозку, недолгие работы по погрузке и разгрузке товаров, а также безопасность. Ваш груз будет в полной сохранности на всем пути.'],
                      conditionsList: [
                        {
                          title: 'Конкурентная заработная плата',
                          text: 'стабильные выплаты и премии за результат.'
                        },
                        {
                          title: 'Корпоративное обучение',
                          text: 'программы наставничества и повышения квалификации.'
                        },
                        {
                          title: 'Гибкий график работы',
                          text: 'возможность удаленной работы для офисных сотрудников.'
                        },
                        {
                          title: 'Социальный пакет',
                          text: 'медицинская страховка, оплачиваемые отпуска и больничные.'
                        },
                        {
                          title: 'Комфортный офис',
                          text: 'современное рабочее пространство с удобствами.'
                        },
                      ]
                    })
                +content({
                  rounded: true,
                  title: `Приятные бонусы`,
                  classes: 'content-no-border'
                })
                    +content-text({
                      topTexts: ['Мы ценим инициативность и стремление к развитию. В нашей компании каждый сотрудник получает возможность не только расти профессионально, но и участвовать в жизни компании. Мы создаем благоприятную атмосферу для работы, вдохновляем на новые идеи и поддерживаем амбициозные цели. ВР Логистик – это место, где ваш вклад действительно важен!'],
                      iconList: [
                        {
                          icon: 'train',
                          title: 'Корпоративные мероприятия',
                          text: 'Совместные поездки, праздники, тимбилдинги'
                        },
                        {
                          icon: 'train',
                          title: 'Бесплатные тренинги и курсы',
                          text: 'Возможность повышения квалификации за счет компании'
                        },
                        {
                          icon: 'train',
                          title: 'Программа лояльности',
                          text: 'Скидки на услуги компании и партнеров'
                        },
                        {
                          icon: 'train',
                          title: 'Поддержка новичков',
                          text: 'Наставничество и помощь в адаптации'
                        },
                      ]
                    })
                +content({
                  title: 'Вакансии',
                  rounded: true,
                  classes: 'content-no-border'
                })
                    +content-text({
                      vacanciesList: [
                        {
                          title: 'Логист-менеджер по международным перевозкам',
                          tags: ['Москва', 'Офис', 'Полная занятость'],
                        },
                        {
                          title: 'Специалист по сертификации грузов',
                          tags: ['Санкт-Петербург', 'Удаленная работа', 'Полная занятость'],
                        },
                        {
                          title: 'Менеджер по работе с клиентами в сфере логистики',
                          tags: ['Казань', 'Офис', 'Частичная занятость'],
                        }, {
                          title: 'Координатор перевозок и таможенного оформления',
                          tags: ['Екатеринбург', 'Офис', 'Проектная занятость'],
                        }
                      ]
                    })
        +consult({classes: 'consult--page', btnText: 'Жду звонка'})
    +modal({ id: 'consult-form', classes: 'consult__form' })
        +consult-form
