extends ../../layouts/layout
block vars
block content
    include ../../components/consult-form
    include ../../components/first-screen
    include ../../components/consult
    include ../../components/reviews
    include ../../components/content/content
    include ../../components/content/blocks/content-text
    include ../../modal-windows/modal
    .wrapper
        +first-screen({
          patternBgDesktop: './images/pattern-bg/career-desktop.svg',
          patternBgMobile: './images/pattern-bg/career-mobile.svg',
          title: 'Карьера с ВР ЛОГИСТИК',
          subtitle: 'Добро пожаловать в ВР ЛОГИСТИК – компанию, которая занимается профессиональными логистическими решениями и транспортными перевозками.',
          classes: 'first-screen--career',
        })
        .career__nav
            .container
                .career__nav-list.no-scrollbar
                    button(data-smooth-scrolling="#career-vacanices") Вакансии
                    button(data-smooth-scrolling="#career-internship") Стажировка
                    button(data-smooth-scrolling="#career-reviews") Отзывы сотрудников
        .content-blocks.content-blocks--with-borders.content-block--no-pt
            .content-blocks
                +content({
                  rounded: true,
                  title: `Почему выбирают нас`,
                })
                    +content-text({
                      topTexts: ['Кроме того, автоперевозки могут осуществляться сборным путем, что позволяет снизить конечную стоимость услуги. Компания VR LOGISTIC предлагает весь спектр услуг по автомобильным перевозкам: перевозки по Москве, России, Европе, Китаю, страхование товара, подготовка таможенной документации и оформление на постах, инспекцию и экспедирование.'],
                      unorderedListTitle: 'Наши преимущества:',
                      unorderedList: [
                        {
                          title: 'Стабильность и надежность',
                          text: 'Работаем на рынке логистики долгие годы и постоянно развиваемся.'
                        },
                        {
                          title: 'Современные технологии',
                          text: 'Используем передовые решения в транспортной логистике.',
                        },
                        {
                          title: 'Карьерный рост',
                          text: 'Поддерживаем развитие сотрудников и предлагаем возможности для продвижения.',
                        },
                        {
                          title: 'Дружный коллектив',
                          text: 'Ценим командную работу, открытость и поддержку друг друга.',
                        },
                        {
                          title: 'Прозрачные условия',
                          text: 'Официальное трудоустройство, своевременные выплаты, бонусы и премии.',
                        },
                        {
                          title: 'Стабильность и надежность',
                          text: 'Работаем на рынке логистики долгие годы и постоянно развиваемся.',
                        }
                      ]
                    })
                +content({
                  rounded: true,
                  title: `Условия работы`,
                  classes: 'content-no-border'
                })
                    +content-text({
                      topTexts: ['Выбирая автоперевозки, вы всегда выбираете качество, быструю перевозку, недолгие работы по погрузке и разгрузке товаров, а также безопасность. Ваш груз будет в полной сохранности на всем пути.'],
                      conditionsList: [
                        {
                          title: 'Конкурентная заработная плата',
                          text: 'стабильные выплаты и премии за результат.'
                        },
                        {
                          title: 'Корпоративное обучение',
                          text: 'программы наставничества и повышения квалификации.'
                        },
                        {
                          title: 'Гибкий график работы',
                          text: 'возможность удаленной работы для офисных сотрудников.'
                        },
                        {
                          title: 'Социальный пакет',
                          text: 'медицинская страховка, оплачиваемые отпуска и больничные.'
                        },
                        {
                          title: 'Комфортный офис',
                          text: 'современное рабочее пространство с удобствами.'
                        },
                      ]
                    })
                +content({
                  rounded: true,
                  title: `Приятные бонусы`,
                  classes: 'content-no-border'
                })
                    +content-text({
                      topTexts: ['Мы ценим инициативность и стремление к развитию. В нашей компании каждый сотрудник получает возможность не только расти профессионально, но и участвовать в жизни компании. Мы создаем благоприятную атмосферу для работы, вдохновляем на новые идеи и поддерживаем амбициозные цели. ВР ЛОГИСТИК – это место, где ваш вклад действительно важен!'],
                      iconList: [
                        {
                          icon: 'train',
                          title: 'Корпоративные мероприятия',
                          text: 'Совместные поездки, праздники, тимбилдинги'
                        },
                        {
                          icon: 'train',
                          title: 'Бесплатные тренинги и курсы',
                          text: 'Возможность повышения квалификации за счет компании'
                        },
                        {
                          icon: 'train',
                          title: 'Программа лояльности',
                          text: 'Скидки на услуги компании и партнеров'
                        },
                        {
                          icon: 'train',
                          title: 'Поддержка новичков',
                          text: 'Наставничество и помощь в адаптации'
                        },
                      ]
                    })
                +content({
                  title: 'Вакансии',
                  rounded: true,
                  classes: 'content-no-border'
                }, {'data-smooth-scrolling': 'career-vacanices'})
                    +content-text({
                      vacanciesList: [
                        {
                          title: 'Логист-менеджер по международным перевозкам',
                          tags: ['Москва', 'Офис', 'Полная занятость'],
                        },
                        {
                          title: 'Специалист по сертификации грузов',
                          tags: ['Санкт-Петербург', 'Удаленная работа', 'Полная занятость'],
                        },
                        {
                          title: 'Менеджер по работе с клиентами в сфере логистики',
                          tags: ['Казань', 'Офис', 'Частичная занятость'],
                        }, {
                          title: 'Координатор перевозок и таможенного оформления',
                          tags: ['Екатеринбург', 'Офис', 'Проектная занятость'],
                        }
                      ]
                    })

                +content({
                  bigTitle: 'Стажировка',
                  rounded: true,
                  isInternShip: true,
                  classes: 'content-no-border content--internship'
                }, {'data-smooth-scrolling': 'career-internship'})
                    .content__internship-texts
                        p Забудьте о скучных теориях!
                        p Мы запускаем БЕСПЛАТНЫЙ курс практических лекций от ведущих экспертов!
                        p Получите востребованные навыки, пройдите стажировку и устройтесь на работу в нашу компанию!

            .content-blocks.content-blocks--with-borders.content-block--no-paddings
                +content({
                  title: 'Наши спикеры',
                  timer: true,
                  classes: 'content--internship'
                })
                    +content-text({
                      speakersList: [
                        {
                          poster: './images/speakers/1.png',
                          name: 'Иванов Иван Иванович',
                          job: 'Должность, специализация'
                        },
                        {
                          poster: './images/speakers/2.png',
                          name: 'Иванов Иван Иванович',
                          job: 'Должность, специализация'
                        },
                        {
                          poster: './images/speakers/3.png',
                          name: 'Иванов Иван Иванович',
                          job: 'Должность, специализация'
                        },
                        {
                          poster: './images/speakers/4.png',
                          name: 'Иванов Иван Иванович',
                          job: 'Должность, специализация'
                        },
                        {
                          poster: './images/speakers/5.png',
                          name: 'Иванов Иван Иванович',
                          job: 'Должность, специализация'
                        },
                        {
                          poster: './images/speakers/1.png',
                          name: 'Иванов Иван Иванович',
                          job: 'Должность, специализация'
                        },
                        {
                          poster: './images/speakers/2.png',
                          name: 'Иванов Иван Иванович',
                          job: 'Должность, специализация'
                        },
                        {
                          poster: './images/speakers/4.png',
                          name: 'Иванов Иван Иванович',
                          job: 'Должность, специализация'
                        },
                        {
                          poster: './images/speakers/2.png',
                          name: 'Иванов Иван Иванович lorem lorem text dsiufh 9f84h 9f-7384n f98347f3480fb348fuh ',
                          job: 'Должность, специализация lorem text dsiufh 9f84h 9f-7384n f98347f3480fb348fuh '
                        },
                      ]
                    })

                +content({
                  title: 'Расписание курса',
                  classes: 'remove-border'
                })
                    +content-text({
                      scheduleList: [
                        {
                          day: '1 день',
                          date: '5 ноября 2025',
                          description: 'Знакомство с командой, изучение корпоративной культуры, обзор основных процессов логистики.'
                        },
                        {
                          day: '2 день',
                          date: '6-7 ноября 2025',
                          description: 'Обучение планированию маршрутов, работа с системами управления грузоперевозками.'
                        },
                        {
                          day: '3 день',
                          date: '8 ноября 2025',
                          description: 'Практика: анализ реальных логистических задач, проработка решений в группах.'
                        },
                        {
                          day: '4 день',
                          date: '12-14 ноября 2025',
                          description: 'Работа с современными технологиями в логистике: цифровые платформы, автоматизация процессов.'
                        }, {
                          day: '5 день',
                          date: '15 ноября 2025',
                          description: 'Разбор реальных кейсов, моделирование нестандартных ситуаций в логистике.'
                        }
                      ]
                    })
        +reviews({}, {'data-smooth-scrolling': 'career-reviews'})
        +consult({classes: 'consult--page', btnText: 'Жду звонка'})
    +modal({ id: 'consult-form', classes: 'consult__form' })
        +consult-form
