-
  const defaultServicesItemSimpleProps = {
      classes: '',
      name: '',
      link: 'javascript:void(0);',
      icon: ''
  }

mixin services-item-simple(props = defaultServicesItemSimpleProps, ...dataset)
  -
    const checkProps = {
        classes: props.classes ? props.classes : defaultServicesItemSimpleProps.classes,
        name: props.name ? props.name : defaultServicesItemSimpleProps.name,
        link: props.link ? props.link : defaultServicesItemSimpleProps.link,
        icon: props.icon ? props.icon : defaultServicesItemSimpleProps.icon,
    }

  include ../../ui/btn
  include ../../ui/icon
  include ../../ui/text
  a.services__item-simple(class=`${checkProps.classes}`, href=checkProps.link)&attributes(...dataset)
    .services__item-simple__icon
      +icon(checkProps.icon)
    +text({ variant: 's', weight: 'bold', text: checkProps.name, classes: 'services__item-simple__name' })
    +btn({ icon: true, iconName: 'arrow-right-green', classes: 'services__item-simple__btn' })
