-
  const defaultServicesProps = {
      classes: '',
      headline: {
          text: 'Широкий спектр услуг',
          link: '/services.html'
      },
      title: 'Работали с компанией по доставке партии автозапчастей из Германии в Россию. Весь процесс был выполнен быстро и без задержек.',
      list: [
          {
              name: 'Автомобильные перевозки',
              link: '/services-detail.html',
              icon: 'car'
          },
          {
              name: 'Авиационные перевозки',
              link: '/services-detail.html',
              icon: 'plane'
          },
          {
              name: 'Железнодорожные перевозки',
              link: '/services-detail.html',
              icon: 'train'
          },
          {
              name: 'Морские перевозки (мультимодальные)',
              link: '/services-detail.html',
              icon: 'ship'
          },
          {
              name: 'Проектная логистика',
              link: '/services-detail.html',
              icon: 'logistic'
          },
          {
              name: 'Таможенное оформление',
              link: '/services-detail.html',
              icon: 'settings'
          },
          {
              name: 'Сертификация',
              link: '/services-detail.html',
              icon: 'certificate'
          },
          {
              name: 'Складская логистика',
              link: '/services-detail.html',
              icon: 'warehouse'
          },
          {
              name: 'Доставка грузов дронами',
              link: '/services-detail.html',
              icon: 'drone'
          },
          {
              name: 'Страхование',
              link: '/services-detail.html',
              icon: 'shield'
          },
      ]
  }

mixin services(props = defaultServicesProps, ...dataset)
  -
    const checkProps = {
        classes: props.classes ? props.classes : defaultServicesProps.classes,
        headline: props.classes ? props.headline : defaultServicesProps.headline,
        title: props.title ? props.title : defaultServicesProps.title,
        list: props.list ? props.list : defaultServicesProps.list,
    }

  include ../../ui/btn
  include ../../ui/icon
  include ../../ui/text
  include ../../ui/headline
  include services-item-simple
  include ../globe
  section.services(class=`${checkProps.classes}`)&attributes(...dataset)
    .container
      .services__inner
        .services__top
          +headline(checkProps.headline)
          +text({ variant: 'xs', weight: 'medium', text: checkProps.title, classes: 'services__title' })
        .services__wrapper
          .services__list
            .services__col
              each item in checkProps.list.slice(0, 5)
                +services-item-simple(item)
            .services__col
              each item in checkProps.list.slice(5, 10)
                +services-item-simple(item)
            .services__globe
              +globe
