extends ../../layouts/layout
block vars
block content
    include ../../components/consult-form
    include ../../components/consult
    include ../../components/first-screen
    include ../../components/tags-line
    include ../../components/news-slider
    include ../../components/social-field
    include ../../modal-windows/modal
    include ../../components/video
    include ../../components/content/content
    include ../../components/content/blocks/content-text

    -
      const checkProps ={
        video: {
          src: './video/mock-video.mp4',
          type: 'video/mp4',
          poster: '/images/news/news-detail-video.png',
        },
        image: {
          src: '/images/news/news-detail-img.jpg'
        }

      }

    .wrapper.news-detail__wrapper
        +first-screen({
          classes: '',
          patternBgDesktop: './images/pattern-bg/news-desktop.svg',
          patternBgMobile: './images/pattern-bg/news-mobile.svg',
          title: 'БАРТЕР МЕЖДУ РФ И ЗАРУБЕЖНЫМИ КОМПАНИЯМИ',
          date: '10 октября 2024',
          tag: 'Таможенные новости',
        })

        .content-blocks.content__overflow--hidden
          +content({
            rounded: true,
            title: 'Содержание',
          })
            +content-text({
              smallTitle: 'Применение бартерных сделок во внешней торговле товарами и услугами между российскими и зарубежными компаниями',
              dashedTexts: [
                "Теоретическая часть (виды, преимущества, сложности)",
                "Нормативные документы (регулирование, документы, ответственность)",
                "Практическая часть (таможенный, налоговый, валютный учет)",
                "Определение равной стоимости товаров и услуг (расчет стоимости товаров по контракту)",
                "Приложение (примеры договоров)",
              ],
              bigImg: true,
              bigImgSrc: checkProps.image.src,
              bottomText: [
                'Внешнеторговые бартерные сделки позволяют осуществлять обмен товаров и услуг с зарубежными компаниями без перевода денежных средств. С началом санкционного давления на российский внешнеэкономический сектор, данный способ ведения внешней торговли стал привлекать все больше внимания со стороны российских участников ВЭД, и не только. Весной 2024 года Минэкономразвития РФ подготовило для таких заинтересованных лиц справочную Информацию по бартерным сделкам. Приводим ниже материал по теме бартерных сделок, с учетом этой Информации.',
              ]
            })

          +content({
            rounded: true,
            title: 'Теоритическая часть',
          })
            .content-text__wrapper
              .content-text
                p.text.text--s.text--bold.content-text__small-title Виды бартерных сделок
                .content-text__main-text
                  p.text.text--s.text--medium.content-text__text <mark>Закрытая бартерная сделка</mark> – обмен товарами или услугами между двумя компаниями, возможны следующие виды:
                  .content-text__dashed-texts
                    p.text.text--xs.text--medium <b>Встречные закупки</b> - не предусматривает прямой обмен товарами и услугами.Компания А получает товар от компании В и реализует его. Выручка направляется на закупку другого товара, в котором заинтересована компания В.
                    p.text.text--xs.text--medium <b>Встречные поставки</b> - обмен товарами равной стоимости. В этом случае каждая из сторон предоставляет свои товары или услуги, которые нужны другой стороне. Например, компания A может предоставить компании B сырье, а компания B - технологическое оборудование. Таким образом, обе стороны получают то, что им необходимо, без необходимости использовать деньги для покупки товаров или услуг.
                  p.text.text--s.text--medium.content-text__text <mark>Открытые бартерные сделки</mark> – в бартерной сделке участвуют более двух компаний, которые производят обмен товарами в установленных пропорциях. В открытых бартерных сделках компания A может предоставить свои товары или услуги компании B, в то время как компания B может предложить свои товары или услуги компании C. Таким образом, все три компании получают то, что им необходимо, без использования денег.
                  p.text.text--s.text--medium.content-text__text <mark>Толлинг</mark> – это форма бартерной сделки, в которой одна компания предоставляет свою производственную базу или оборудование другой компании для выполнения определенной работы или производства товаров. Взамен за это, компания, использующая оборудование или базу, выплачивает компании-владельцу заранее оговоренное вознаграждение в виде части произведенной продукции или определенного количества товаров.
              
              .content-text
                p.text.text--s.text--bold.content-text__small-title Преимущества
                p.text.text--s.text--medium.content-text__text Несмотря на ряд существенных преимуществ, отраженных в информации Минэкономразвития – расширение рынков, оптимизация ресурсов, повышение конкурентоспособности – российских участников ВЭД в первую очередь интересует возможность полностью отказаться от необходимости совершения трансграничных оплат за товар, ограниченных из-за санкционного давления недружественных стран. 
              
              .content-text
                p.text.text--s.text--bold.content-text__small-title Cложности
                .content-text__top-texts
                  p.text.text--s.text--medium.content-text__text Есть общие риски, связанные с бартерными сделками, такие как сложности в определении равной стоимости обмениваемых товаров или услуг, возможные разногласия в отношении качества или сроков поставки продукции.
                  p.text.text--s.text--medium.content-text__text Но также есть и риски, характерные для конкретной страны-контрагента, которые в условиях применения бартерной сделки могут обостриться. Для Китая такими рисками являются, в частности:
                  .content-text__dashed-texts
                    p.text.text--xs.text--medium Отсутствие эффективных и стабильных четко прогнозируемых по срокам каналов логистической коммуникации;
                    p.text.text--xs.text--medium Отсутствие четко выстроенных доверительных отношений между российским и китайским бизнесом;
                    p.text.text--xs.text--medium Значительная зависимость России от Китая, снижение стратегического положения отечественной экономики в сформированных торгово-экономических отношениях;
                    p.text.text--xs.text--medium Нынешняя структура российского экспорта и импорта характеризуется однородностью, она не перспективна для нашей страны. По данным внешней торговли Китай для нас первый партнер, а Россия для Китая – одиннадцатая по объему товарооборота (всего 2 % во внешней торговле КНР);
                    p.text.text--xs.text--medium Слабая конкурентоспособность отечественных производителей на фоне китайских, которые более технологичны. В Китае есть проблемы с защитой интеллектуальной собственности. Продвижение российской наукоемкой продукции на китайский рынок слаборазвито, т.к. имеется нехватка российских специалистов, способных на оказание таких услуг.
                    p.text.text--xs.text--medium В корпоративном секторе возникают проблемы в деловом сотрудничестве из-за опасений китайских компаний попасть под вторичные санкции США.
                  p.text.text--s.text--medium.content-text__text Все эти факторы могут повлиять на соблюдение условий бартерной сделки, что может повлечь для участника ВЭД привлечение его к административной ответственности (об этом ниже).
          +content({
            rounded: true,
            title: 'Нормативные документы',
          })
            .content-text
              p.text.text--s.text--bold.content-text__small-title Виды бартерных сделок
              .content-text__top-texts
                p.text.text--xs.text--medium Возможность осуществления резидентами РФ именно внешнеторговых бартерных сделок закреплена <a href=’javascript:void(0);’>Федеральным законом от 08.12.2003 N 164-ФЗ «Об основах государственного регулирования внешнеторговой деятельности» </a>. Он подвергается уже не первой редакции, так, например, положения <b> Закона № 164-ФЗ</b>, предусматривающие оформление паспорта бартерной сделки, признаны утратившими силу в соответствии с Федеральным законом от 06.12.2011 № 409-ФЗ.
                p.text.text--xs.text--medium <b> Пункт 1 статьи 44 Закона № 164-ФЗ</b>: внешняя торговля товарами, услугами и интеллектуальной собственностью с использованием внешнеторговых бартерных сделок может осуществляться только при условии, что такими сделками предусмотрен обмен <a href=’javascript:void(0);’> равноценными по стоимости товарами, услугами, работами, интеллектуальной собственностью</a>, а также обязанность соответствующей стороны оплатить разницу в их стоимости в случае, если такой сделкой предусматривается обмен неравноценными товарами, услугами, работами, интеллектуальной собственностью.
                p.text.text--xs.text--medium На основании <b>пункта 2 статьи 44 Закона № 164-ФЗ</b>, <a href=’javascript:void(0);’> постановлением Правительства Российской Федерации от 22.11.2012 № 1207 </a> утверждены <a href=’javascript:void(0);’> Правила осуществления контроля за внешнеторговыми бартерными сделками и их учета</a> (далее – <a href=’javascript:void(0);’> Правила</a>). Правилами установлен порядок осуществления контроля и учета сделок, совершаемых при осуществлении внешнеторговой деятельности.
                p.text.text--xs.text--medium Контроль и учет бартерных сделок, совершаемых при внешнеторговой деятельности, условиями которых предусмотрен вывоз товаров из РФ, возложен на ФТС России – <a href=’javascript:void(0);’> распоряжение ФТС России от 26.03.2013 № 92-р.</a>
                p.text.text--xs.text--medium Учет внешнеторговых бартерных осуществляет уполномоченный таможенный орган путем самостоятельного формирования документа учета внешнеторговой бартерной сделки на основании сведений, в том числе указанных в декларациях на товары. Правилами предусмотрено, что ФТС России в течение 3 рабочих дней со дня выпуска 1-й партии вывозимых по внешнеторговой бартерной сделке товаров в соответствии с заявленной таможенной процедурой направляет в электронном виде соответствующую декларацию на товары по телекоммуникационным каналам связи в уполномоченный таможенный орган.
                p.text.text--xs.text--medium В течение 1 рабочего дня со дня, следующего за днем получения из ФТС России декларации на товары в электронном виде, уполномоченный таможенный орган запрашивает у российских юридических и физических лиц документы, предусмотренные пунктом 5 Правил: уставные, внешнеторговый договор со всеми приложениями, и прочие акты, а также документы, подтверждающие исполнение обязательств по внешнеторговой бартерной сделке.
                p.text.text--xs.text--medium При этом документы, подтверждающие исполнение обязательств по внешнеторговой бартерной сделке, запрашиваются только в отношении обязательств, которые в соответствии с условиями внешнеторговой бартерной сделки на день направления запроса должны быть исполнены.
                p.text.text--xs.text--medium Если в рамках внешнеторговых бартерных сделок между резидентом и нерезидентом осуществляются валютные операции, то на резидента также распространяются требования валютного законодательства РФ. В случаях, когда сумма заключенного договора (контракта) подпадает под данное требование, то в разделе 6 документа учета внешнеторговой бартерной сделки таможенный орган отражает сведения о его постановке на учет в уполномоченном банке.
                p.text.text--xs.text--medium <b>Пунктом 5 статьи 45 Закон № 164-ФЗ</b> предусмотрено, что при осуществлении внешнеторговых бартерных сделок товары, получаемые российскими лицами по таким сделкам <a href=’javascript:void(0);’> за пределами территории Российской Федерации</a>, могут быть реализованы российскими лицами без ввоза этих товаров в Российскую Федерацию при условии, что:
                ol
                  li Фактическое получение товаров должно быть подтверждено документами, предусмотренными условиями внешнеторговой бартерной сделки;
                  li Российские лица не позднее чем в течение одного года со дня фактического получения товаров обязаны обеспечить их реализацию и в срок, предусмотренный условиями сделки по реализации этих товаров, обеспечить зачисление на свои счета в уполномоченных банках всех денежных средств, полученных от их реализации, или получение платежных средств. 
                p.text.text--xs.text--medium Ответственность при нарушениях.
                p.text.text--xs.text--medium В КоАП РФ есть специальная статья - 14.50 «Неисполнение обязанностей и требований при осуществлении внешнеторговых бартерных сделок», в которой предусмотрена ответственность в том числе за непредставление документов в таможенный орган. Санкция - штраф на должностных лиц в размере от 10 тыс. до 20 тыс. рублей; на юридических лиц - от одной второй до однократного размера стоимости товаров, явившихся предметами административного правонарушения.
                p.text.text--xs.text--medium Норма действует, только если сделка изначально осуществлялась как бартерная и есть документ учета бартерной сделки. Если же участник ВЭД годами работал по договору купли-продажи, но в силу каких-то объективных или субъективных обстоятельств обязательства по сделке оказались не исполнены и в качестве расчета как исключительная мера проводится взаимозачет или встречная поставка, он продолжает находиться в правовом поле валютного контроля, то есть в рамках статьи 15.25 КоАП РФ
              p.text.text--s.text--bold.content-text__small-title Ответственность при нарушениях.
              .content-text__top-texts
                p.text.text--xs.text--medium В КоАП РФ есть специальная статья - 14.50 «Неисполнение обязанностей и требований при осуществлении внешнеторговых бартерных сделок», в которой предусмотрена ответственность в том числе за непредставление документов в таможенный орган. Санкция - штраф на должностных лиц в размере от 10 тыс. до 20 тыс. рублей; на юридических лиц - от одной второй до однократного размера стоимости товаров, явившихся предметами административного правонарушения.
                p.text.text--xs.text--medium Норма действует, только если сделка изначально осуществлялась как бартерная и есть документ учета бартерной сделки. Если же участник ВЭД годами работал по договору купли-продажи, но в силу каких-то объективных или субъективных обстоятельств обязательства по сделке оказались не исполнены и в качестве расчета как исключительная мера проводится взаимозачет или встречная поставка, он продолжает находиться в правовом поле валютного контроля, то есть в рамках статьи 15.25 КоАП РФ
          
          +content({
              rounded: true,
              title: 'Практичесая часть',
            })
            .content-text
              +content-text({
                smallTitle: 'Подготовительный этап',
                dashedTexts: [
                  "Маркетинговые исследования рынков,",
                  "Поиск иностранного контрагента",
                  "Проверка его благонадежности",
                ]
              })

              +video({
                classes: 'news-detail__video',
                poster: checkProps.video.poster,
                videoType: checkProps.video.type,
                video: checkProps.video.src,
              })

              +content-text({
                smallTitle: 'Согласование условий бартерной сделки',
                dashedTexts: [
                  "Требования к экспортируемой и импортируемой продукции; ее качественные и количественные характеристики; необходимость их соответствия тем или иным регламентам, предусмотрен ли гарантийный срок на продукцию, порядок заявления рекламаций и претензий по продукцию;",
                  "Согласование объемов поставок равноценных по стоимости товаров, услуг, работ, интеллектуальной собственности;",
                  "Сроки поставки, каким видом транспорта будут доставляться товары, на каких условиях Инкотермс;",
                  "Требования к упаковке и маркировке продукции",
                  "Объекты интеллектуальной собственности (например, торговые марки)",
                  "Каким правом будут регулироваться споры между сторонами сделки, каким судом будут рассматриваться споры.",
                ]
              })
              +content-text({
                smallTitle: 'Основные причины сложившейся ситуации:',
                numberedlist: [
                  "Диверсификация экспортных потоков на восток.",
                  "Переориентация генеральных грузов с прямых железнодорожных сервисов из Китая в РФ на мультимодальные через российские порты Дальнего Востока.",
                  "Рост импорта из стран Юго-Восточной Азии через порты Дальнего Востока вместо использования Балтийского и Азово-Черноморского бассейнов.",
                ]
              })
              +social-field({
                classes: 'news-detail__social',
                title: "Поделиться:",
                social: [
                  { iconName: 'social-facebook', href: 'javascript:void(0);' },
                  { iconName: 'social-vk', href: 'javascript:void(0);' },
                  { iconName: 'social-telegram', href: 'javascript:void(0);' },
                ]
                })

        +tags-line({
          type: 'sticker',
          title: true,
          titleText: 'Теги',
          tags: [
            { name: 'Маркировка товара', date: 'javascript:void(0);' },
            { name: 'Таможенные новости', date: 'javascript:void(0);' },
            { name: 'Благотворительность', date: 'javascript:void(0);' },
          ]
        })
        +news
        +consult({classes: 'consult--page', btnText: 'Жду звонка'})
    +modal({ id: 'consult-form', classes: 'consult__form' })
        +consult-form