<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.1967 25.6007L4.47998 16.5839L5.58858 15.2904L12.1967 23.0118L26.4129 6.40067L27.52 7.69603L12.1967 25.6007Z" fill="#ffffff"/>
</svg>
