@import '../../mixins/vw';

.feedback-item {
  display: flex;
  position: relative;
  background-color: $bg-secondary;
  transition: all 0.3s;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  overflow: hidden;
  @include dim('gap', 70, 20);
  @include dim('pt', 20, 0);
  @include dim('pl', 40, 20);
  @include dim('pr', 40, 0);
  @include dim('pb', 20, 20);
  @include dim('br', 20, 20);
  @include dim('max-h', 290, 226);
  @include dim('max-w', 820, 400);
  @include merge;

  &:hover {
    transition: all 0.3s;
    background-color: $bg-line;
  }

  &__container {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    @include dim('gap', 40, 40);
    @include dim('pt', 20, 20);
    @include dim('pb', 20, 0);
    @include merge;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    gap: 10px;
    @include dim('gap', 10, 10);
    @include merge;
  }

  &__line {
    display: flex;
    align-items: flex-end;
    span.title-line {
      @include dim('min-w', 69, 69);
      @include dim('mr', 15, 15);
      @include merge;
      color: #a3a3a3;
    }
  }

  &__img {
    cursor: pointer;
    display: flex;
    @include dim('w', 174, 81);
    @include dim('h', 250, 124);
    @include dim('br', 10, 10);
    @include merge;
    background-color: #d9d9d9;
    overflow: hidden;
    object-fit: cover;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .swiper-slide {
    margin-top: 20px !important;
  }
}


@media (max-width: 1199px) {
  .feedback-item {
    &__title{
      .text {
        font-weight: 600;
      }
    }

    &__line {
      span.title-line {
        .text--xxs{
          font-size: 14px;
        }
      }
    }

    &__wrapper{
      order: 3;
    }
  }
}


@media (max-width: 765px) {
  .feedback-item {
    position: relative;
    flex-direction: column;
    padding-top: 20px;
    padding-right: 20px;
    height: 465px;
    max-height: 465px;
    gap: 20px;
    
    &__container {
      display: contents;
      flex-direction: column;
    }

    &__title {
      order: 1;
    }

    &__wrapper{
      order: 3;
    }

    &__line {
      span.title-line {
        .text--xxs{
          font-size: 16px;
        }
      }
    }

    &__img {
      order: 2;
      height: 250px;
      width: 174px;
      background-color: #d9d9d9;
      overflow: hidden;
      object-fit: cover;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}