@import '../../mixins/vw';

.input {
  position: relative;
  font-family: $primary-font !important;

  &.disabled {
    opacity: 0.8;
    pointer-events: none;
  }

  &--error {
    .input {
      &__field {
        border-color: red;
      }

      &__message {
        display: grid;
        color: red;
      }
    }
  }

  &--show-message {
    .input {
      &__message {
        display: grid;
        grid-template-columns: 1fr;
      }
    }
  }

  &--size--l {
    .input {
      &__field {
        @include dim('pb', 30, 20);
        @include dim('fz', 18, 18);
        @include merge;
        background: transparent;
      }
    }
  }

  &__field {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid $bg-green-light;
    border-radius: 0;
    color: $btn-text-primary;

    &:focus {
      border-color: $bg-green;
      outline: none;
    }

    &::placeholder {
      @include dim('fz', 18, 18);
      @include merge;
    }
  }

  &__message {
    display: none;
    grid-template-columns: max-content 1fr;
    align-items: center;
    grid-column-gap: 4px;
    justify-content: start;
    margin-top: 4px;
    font-size: 13px;

    span {
      font-size: 12px;
      transition: color $transition;
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &__label {
    @include dim('mb', 20, 20);
    @include dim('fz', 16, 16);
    @include merge;
    display: inline-block;
    color: #70BD93;
    font-weight: 500;
    line-height: 130%;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}


.input--error .input__field {
  border-bottom: 1px solid red !important;
}