@import '../../mixins/vw';

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  .swiper-pagination-bullet {
    aspect-ratio: 1 / 1 !important;
    background: $text-green-light !important;
    opacity: 1 !important;
    transition: $transition !important;
    @include dim('ml', 5, 3);
    @include dim('mr', 5, 3);
    @include dim('h', 15, 10);
    @include dim('w', 15, 10);
    @include merge;

    &.swiper-pagination-bullet-active {
      transform: scale(1.2665);
      background: $text-secondary !important;
    }
  }
}
