.swiper-pagination {
  &-bullet {
    margin: 0 5px !important;
    width: 15px !important;
    height: 15px !important;
    aspect-ratio: 1 / 1 !important;
    background: $text-green-light !important;
    opacity: 1 !important;
    transition: $transition !important;

    &-active {
      transform: scale(1.2665);
      background: $text-secondary !important;
    }
  }
}
