@import '../../mixins/vw';

.text {
  &--regular {
    font-weight: 400;
  }

  &--medium {
    font-weight: 500;
  }

  &--bold {
    font-weight: 700;
  }

  &--xxl {
    @include dim('fz', 75, 38);
    @include merge;
    line-height: 100%;
  }

  &--xl {
    @include dim('fz', 35, 20);
    @include merge;
    line-height: 140%;
  }

  &--l {
    @include dim('fz', 30, 18);
    @include merge;
    line-height: 130%;
  }

  &--m {
    @include dim('fz', 22, 18);
    @include merge;
    line-height: 135%;
  }

  &--s {
    @include dim('fz', 20, 18);
    @include merge;
    line-height: 120%;
  }

  &--xs {
    @include dim('fz', 18, 14);
    @include merge;
    line-height: 135%;
  }

  &--xxs {
    @include dim('fz', 16, 14);
    @include merge;
    line-height: 130%;
  }

  &--xxxs {
    @include dim('fz', 16, 14);
    @include merge;
    line-height: 140%;
  }
}
