-
  const defaultExpertiseItemProps = {
      title: 'Машиностроение',
      text: 'Технически точная логистика для тяжелого оборудования и деталей',
      icon: 'machine-building',
      link: 'javascript:void(0);',
      classes: ''
  }

mixin expertise-item(props = defaultExpertiseItemProps, ...dataset)
  -
    const checkProps = {
        classes: props.classes ? props.classes : defaultExpertiseItemProps.classes,
        text: props.text ? props.text : defaultExpertiseItemProps.text,
        icon: props.icon ? props.icon : defaultExpertiseItemProps.icon,
        link: props.link ? props.link : defaultExpertiseItemProps.link,
        title: props.title ? props.title : defaultExpertiseItemProps.title,
    }
  include ../../ui/icon
  include ../../ui/btn
  include ../../ui/text
  a.expertise__item(class=`${checkProps.classes}`, href=`${checkProps.link}`)&attributes(...dataset)
    .expertise__item-icon
      +icon(checkProps.icon)
    +text({ text: checkProps.title, classes: 'expertise__item-title', weight: 'bold', variant: 'l' })
    +text({ text: checkProps.text, classes: 'expertise__item-text', variant: 'xs' })
    +btn({ icon: true, iconName: 'arrow-rotate-white', variant: 'secondary', classes: 'expertise__item-btn' })
