-
  const defaultSuccessFormProps = {
      classes: '',
      title: 'Форма успешно отправлена',
      subtitle: 'Совсем скоро мы с Вами свяжемся!',
      icon: 'tick'
  }

mixin formSuccess(props = defaultSuccessFormProps, ...dataset)
  -
    const checkProps = {
        classes: props.classes ? props.classes : defaultSuccessFormProps.classes,
        title: props.title ? props.title : defaultSuccessFormProps.title,
        subtitle: props.subtitle ? props.subtitle : defaultSuccessFormProps.subtitle,
        icon: props.icon ? props.icon : defaultSuccessFormProps.icon,
    }

  include ../../ui/title
  include ../../ui/btn
  include ../../ui/icon
  include ../../ui/text
  .formResponse.formSuccess.js-form-success(class=`${checkProps.classes}`)&attributes(...dataset)
    .formResponse__wrapper 
      if checkProps.icon 
        .formResponse__icon 
          +icon(checkProps.icon)
      if checkProps.title
        +text({
          variant: 'xl',
          weight: 'bold',
          text: checkProps.title,
        })  
      if checkProps.subtitle  
        +text({
          text: checkProps.subtitle,
          variant: 'm'
        })
