.burger {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 77.78%;
  max-width: 77.78%;
  z-index: 102;
  width: 77.78%;
  background: $white;
  transition: 0.6s ease-in-out;
  transform: translateX(100%);
  height: 100dvh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 20px;
  -webkit-overflow-scrolling: touch;
  touch-action: pan-y;
  overscroll-behavior: contain;

  &.open {
    transform: translateX(0);
  }

  &__top {
    height: 74px;
    background: $white;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__close {
    width: 24px;
    height: 24px;
    border-radius: 3px;
    background: rgba(18, 79, 46, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;

    &-link {
      display: block;
      font-size: 20px;
      padding: 15px 0;
      border-bottom: 1px solid $bg-green-light;

    }
  }

  &__btns {
    display: flex;
    flex-direction: column;
    gap: 10px;

    button,
    a {
      width: 100%;
      height: 40px;
    }
  }

  &__accordions {
    &-list {
      display: flex;
      flex-direction: column;
      gap: 10px;

      a {
        font-size: 18px;
        font-weight: 500;
        color: $text-minimal-dark;
      }
    }
  }

  &__requsites {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: 500;

    &-title {
      color: rgba(163, 163, 163, 1);
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 8px;
      color: $text-primary;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 12px;

    a {
      color: rgba(163, 163, 163, 1);
      font-weight: 500;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 20px;

    .btn__text {
      font-weight: 500 !important;
    }
  }
}

.no-scroll {
  overflow: hidden;
  height: 100%;
  position: fixed;
}

@media (max-width: 630px) {
  .burger .header__custom-btn {
    display: flex !important;
  }
}
