.dev-layout {
  padding-top: 96px;

  img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
  }

  &__header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 20px 0;
    background: #051c10;

    &-inner {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 24px;
    }

    a {
      font-size: 22px;
      color: #aaf186;
      transition: 0.3s;
      text-decoration: none;
    }
  }
}
