@import '../../../mixins/vw';

.content {
  position: relative;

  &--rounded {
    .content-container {
      @include dim('border-top-left-radius', 20, 20);
      @include dim('border-bottom-left-radius', 20, 20);
      @include merge;
    }
  }

  &__overflow--hidden{
    overflow: hidden;
  }

  &--internship {
    .content__inner {
      flex-wrap: wrap;

      .content__inner-block {
        @include dim('flex-basis', 400, 200);
        @include dim('max-w', 400, 200);
        @include merge();

        @media (max-width: 767px) {
          flex-basis: 100%;
          max-width: 100%;

          .content__big-title {
            font-size: 28px;
          }
        }
      }

      .content__wrapper {
        @include dim('flex-basis', 1200, 200);
        @include dim('max-w', 1261, 200);
        @include merge();

        @media (max-width: 1199px) {
          flex-basis: calc(100% - 240px);
          max-width: calc(100% - 240px);
        }

        @media (max-width: 767px) {
          flex-basis: 100%;
          max-width: 100%;
        }
      }

      .content__internship {
        flex-basis: 100%;
      }
    }
  }

  &--bg-gray {
    background: $bg-secondary;
  }

  &--margin {
    @include dim('mb', 40, 40);
    @include merge;
  }

  &-container {
    background: $white;
    position: relative;
    width: 100%;
    max-width: calc(100% - 54px);
    margin-left: auto;
    margin-right: 0;
    @include dim('pr', 130, 20);
    @include dim('pl', 40, 20);
    @include dim('pt', 30, 20);
    @include dim('pb', 30, 20);
    @include merge;
  }

  &__inner {
    display: flex;
    align-items: flex-start;
    @include dim('gap', 20, 10);
    @include merge;
  }

  &.items-center {
    .content__inner {
      align-items: center;

      @media(max-width: 767px) {
        align-items: flex-start;

        .content-text__small-title {
          font-size: 20px;
          font-weight: 500;
        }
      }

      .content-text__small-title {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    @include dim('min-w', 400, 200);
    @include dim('max-w', 400, 200);
    @include merge();
  }

  &-blocks {
    display: flex;
    flex-direction: column;
    @include dim('gap', 30, 30);
    @include dim('pt', 70, 40);
    @include dim('pb', 60, 40);
    @include merge;

    &--with-borders {
      background: $bg-secondary;
      gap: 0;

      .content__inner {
        border-top: 1px solid #DDDDDD;
        @include dim('pt', 30, 20);
        @include merge;
      }

      .content-container {
        padding-top: 0;
      }

      .content:first-child .content-container {
        @include dim('border-top-left-radius', 20, 20);
        .content__inner {
          border-top: none;
        }
      }

      .content:last-child .content-container {
        @include dim('border-bottom-left-radius', 20, 20);
      }


    }
  }

  &__wrapper {
    width: 100%;
  }

  .headhunter-link {
    display: flex;
    align-items: center;
    @include dim('gap', 20, 20);
    @include dim('mt', 40, 30);
    @include merge;
    color: $text-primary;

    svg {
      @include dim('w', 47, 47);
      @include dim('h', 47, 47);
      @include merge;
    }

    span {
      font-weight: 600;
      @include dim('fz', 18, 16);
      @include merge;
      transition: .1s;
    }

    &:hover span {
      color: $bg-minimal;
      text-decoration: underline;
    }
  }

  &__internship-texts {
    @include dim('pl', 390, 0);
    @include dim('gap', 9, 9);
    @include merge;
    display: flex;
    flex-direction: column;

    p {
      @include dim('fz', 18, 18);
      font-weight: 500;

      @media (max-width: 767px) {
        font-weight: 400;
      }
    }
  }

  &__big-title {
    color: $text-secondary;
    @include dim('fz', 50, 18);
    @include merge;

    @media (max-width: 1199px) {
      font-weight: 700;
    }
  }

  &__internship {
    display: flex;
    flex-direction: column;
    @include dim('gap', 20, 10);
    @include dim('mt', 30, 10);
    @include merge;

    &-top-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      @include dim('gap', 20, 10);
      @include merge;

      @media (max-width: 767px) {
        grid-template-columns: repeat(1, 1fr);

        .content__internship-top-list-item-title {
          font-size: 40px;
          font-weight: 600;
        }
      }

      &-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include dim('min-h', 214, 234);
        @include dim('gap', 40, 40);
        @include dim('br', 10, 10);
        @include dim('p', 30, 30);
        @include merge;
        background: $bg-secondary;

        &-title {
          color: $icon-accent;
        }
      }
    }

    &-bottom-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @include dim('gap', 20, 10);
      @include merge;

      @media (max-width: 767px) {
        grid-template-columns: repeat(1, 1fr);

        .content__internship-bottom-list-item-title {
          font-weight: 600;
        }
      }

      &-item {
        display: flex;
        flex-direction: column;
        @include dim('gap', 40, 40);
        @include dim('br', 10, 10);
        @include dim('p', 30, 30);
        @include merge;
        background: $bg-secondary;

        &-title {
          color: $icon-accent;
        }

        &-text {
          display: flex;
          flex-direction: column;
          @include dim('gap', 9, 9);
          @include merge;

          li {
            list-style: none;
          }

          p {
            position: relative;
            @include dim('pl', 40, 40);
            @include merge;

            &:before {
              position: absolute;
              content: '';
              left: 0;
              @include dim('w', 20, 20);
              @include dim('t', 12, 12);
              @include merge;
              height: 1px;
              background-color: $icon-accent;
              transform: translateY(-50%);
              user-select: none;
              pointer-events: none;
            }
          }
        }
      }
    }
  }

  img{
    width: 100%;
    @include dim('h', 409, 246);
    @include dim('br', 20, 20);
    @include merge;
  }

  .video{
    position: relative;
    width: 100%;
    overflow: hidden;
    @include dim('max-h', 409, 249);
    @include dim('br', 20, 20);
    @include merge;
    .container{
      height: 100%;

    }
    &__inner{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 0;
    }

    &__title{
      display: none;
    }

    &__btn{
      .btn{
        @include dim('h', 108, 108);
        @include dim('w', 108, 108);
        @include merge;
        .btn__icon{
          @include dim('h', 43, 43);
          @include dim('w', 43, 43);
          @include merge;
        }
      }

      .text{
        display: none;
      }
    }
  }
}

@media (max-width: 1199px) {
  .content {
    &-container {
      max-width: calc(100% - 20px);
    }

    &__title {
      font-size: 18px;
    }
  }
}

@media (max-width: 767px) {
  .content {
    .content-container {
      border-radius: 0;
      padding: 40px 20px 20px 20px;
      max-width: 100%;
    }

    &__inner {
      flex-direction: column;
      gap: 40px;
    }

    &__title {
      max-width: 100%;
      font-size: 28px;
      font-weight: 600;
      line-height: 120%;
    }

    &--bg-secondary {
      .content-container {
        background: $bg-secondary;
      }
      background: $bg-secondary;
    }
  }
}

.content-block--no-paddings {
  padding: 0;
}

.content-block--no-pt {
  padding-top: 0;
}

.content-block--no-pb {
  padding-bottom: 0;
}
