@import '../../../mixins/vw';

.content-text {
  width: 100%;

  &__top-texts {
    display: flex;
    flex-direction: column;
    @include dim('gap', 20, 10);
    @include merge;
  }

  &__btn {
    @include dim('mt', 40, 30);
    @include dim('w', 400, 250);
    @include merge;
  }

  &__tags {
    @include dim('mt', 40, 20);
    @include dim('gap', 20, 20);
    @include merge;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    p {
      @include dim('pr', 59, 30);
      @include dim('pl', 59, 30);
      @include dim('pt', 15, 15);
      @include dim('pb', 15, 15);
      @include dim('br', 10, 10);
      @include merge;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: $bg-secondary;
    }
  }

  &__unordered-list {
    @include dim('mt', 40, 40);
    @include dim('gap', 25, 10);
    @include merge;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &-item {
      width: 100%;
      @include dim('pr', 35, 30);
      @include dim('pl', 35, 30);
      @include dim('pt', 30, 30);
      @include dim('pb', 30, 30);
      @include dim('br', 10, 10);
      @include dim('gap', 20, 20);
      @include merge;
      background: $bg-secondary;
      display: flex;
      flex-direction: column;

      &-dot {
        display: block;
        @include dim('w', 21, 21);
        @include dim('h', 21, 21);
        @include dim('border-width',3, 3);
        @include merge;
        border-radius: 100%;
        border-style: solid;
        border-color: $icon-accent;
      }

      &-text {
        @include dim('min-h', 65, 65);
        line-height: 130%;
        @include merge;
      }
    }

    &--numbers {
      counter-reset: list-counter;
      margin-top: 0;

      .content-text__unordered-list-item {
        background: $white;
        counter-increment: list-counter;
      }

      .content-text__unordered-list-item-dot {
        position: relative;
        border: none;
        @include dim('fz', 30, 20);

        &:before {
          content: counter(list-counter);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $bg-green-light;
          font-weight: 600;
        }
      }
    }
  }

  &__sub-title {
    @include dim('mb', 20, 20);
    @include dim('mt', 40, 40);
    @include merge;
  }

  &__dashed-links {
    column-count: 2;
    column-gap: 115px;
    @include merge;
  }

  &__dashed-link {
    color: $bg-green;
    position: relative;
    text-decoration: underline;
    width: fit-content;
    transition: $transition;
    display: block;
    @include dim('mb', 9, 9);
    @include dim('pl', 40, 40);
    @include merge;

    &:before {
      position: absolute;
      content: '';
      left: 0;
      @include dim('w', 20, 20);
      @include dim('t', 10, 10);
      height: 1px;
      background-color: $bg-accent;
      transform: translateY(-50%);
      user-select: none;
      pointer-events: none;
    }

    &:hover {
      color: $bg-minimal;
      text-decoration: none;
      border-color: transparent;
    }
  }
}

.ordered-list__btn {
  @include dim('w', 430, 300);
  @include dim('mt', 40, 30);
  @include merge;
}

@media (max-width: 1199px) {
  .content-text {
    &__top-texts p {
      font-size: 18px;
      line-height: 130%;
    }

    &__unordered-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 992px) {
  .content-text {
    &__dashed-links {
      column-count: 1;
      column-gap: normal;
    }
  }
}

@media (max-width: 767px) {
  .ordered-list__btn {
    width: 100%;
  }

  .content-text {
    &__top-texts {
      gap: 0;
    }

    &__btn {
      width: 100%;
    }

    &__tags {
      flex-direction: column;

      p {
        width: 100%;
        padding: 15px;
      }
    }

    &__unordered-list {
      grid-template-columns: repeat(1, 1fr);

      &-item {
        &-text {
          min-height: auto;
          font-size: 18px;
          font-weight: 400;
        }
      }
    }
  }
}
