@import '../../../mixins/vw';

.content-text {
  width: 100%;
  display: flex;
  flex-direction: column;

  @include dim('gap', 40, 30);
  @include merge;

  &__top-texts {
    display: flex;
    flex-direction: column;
    @include dim('gap', 20, 10);
    @include merge;
  }

  &__btn {
    @include dim('w', 400, 250);
    @include merge;
  }

  &__tags {
    @include dim('gap', 20, 20);
    @include merge;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    p {
      @include dim('pr', 59, 30);
      @include dim('pl', 59, 30);
      @include dim('pt', 15, 15);
      @include dim('pb', 15, 15);
      @include dim('br', 10, 10);
      @include merge;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: $bg-secondary;
    }
  }

  &__unordered-list {
    @include dim('gap', 25, 10);
    @include merge;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &-title {
      @include dim('fz', 18, 18);
      @include merge;

      @media (max-width: 767px) {
        font-weight: 600;
      }
    }

    &-item {
      width: 100%;
      @include dim('pr', 35, 30);
      @include dim('pl', 35, 30);
      @include dim('pt', 30, 30);
      @include dim('pb', 30, 30);
      @include dim('br', 10, 10);
      @include dim('gap', 20, 20);
      @include merge;
      background: $bg-secondary;
      display: flex;
      flex-direction: column;

      &-dot {
        display: block;
        @include dim('w', 21, 21);
        @include dim('h', 21, 21);
        @include dim('border-width', 3, 3);
        @include merge;
        border-radius: 100%;
        border-style: solid;
        border-color: $icon-accent;
      }

      &-text {
        @include dim('min-h', 65, 65);
        line-height: 130%;
        @include merge;
      }
    }

    &--numbers {
      counter-reset: list-counter;
      margin-top: 0;

      .content-text__unordered-list-item {
        background: $white;
        counter-increment: list-counter;
      }

      .content-text__unordered-list-item-dot {
        position: relative;
        border: none;
        @include dim('fz', 30, 18);

        &:before {
          content: counter(list-counter);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $bg-green-light;
          font-weight: 600;
        }
      }
    }
  }

  &__ordered-list {
    @include dim('gap', 20, 10);
    @include merge;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 540px));
    counter-reset: list-counter;
    list-style-type: none;

    @media (max-width: 1023px) {
      grid-template-columns: repeat(1, 1fr);
    }

    &-title {
      @include dim('fz', 18, 18);
      @include merge;

      @media (max-width: 767px) {
        font-weight: 600;
      }
    }

    &-item {
      width: 100%;
      @include dim('p', 40, 30);
      @include dim('gap', 40, 10);
      @include merge;
      background: $bg-secondary-light;
      border-radius: 20px;
      counter-increment: list-counter;
      min-height: 256px;
      display: flex;
      position: relative;

      &-text {
        position: relative;
        display: flex;
        flex-direction: column;
        line-height: 140%;

        &:before {
          content: counter(list-counter, decimal-leading-zero) " ";
          display: block;
          @include dim('fz', 18, 18);
          @include merge;
          color: $text-minimal;
          font-weight: 500;
          margin-bottom: auto;

          @media (max-width: 1199px) {
            padding-bottom: 30px;
          }
        }
      }

      &-icon {
        flex: none;
        border-left: 1px solid $bg-line;
        @include dim('pl', 30, 20);
        @include merge;
        padding-top: 15px;

        @media (max-width: 1199px) {
          position: absolute;
          top: 35px;
          right: 34px;
          padding: 0;
          border: none;
        }

        svg {
          @include dim('w', 67, 50);
          @include dim('h', 61, 46);
          @include merge;
        }
      }
    }
  }

  &__features {
    border-top: 1px solid $bg-line-dark;
    margin: 0;
    padding: 0;
    list-style: none;

    &-item {
      border-bottom: 1px solid $bg-line-dark;
      padding-block: 25px;
      display: grid;
      grid-template-columns: 38% 58%;
      gap: 4%;

      @media (max-width: 767px) {
        grid-template-columns: 1fr;
        gap: 10px;
      }

      &-title {
        font-weight: 400;
        @include dim('fz', 25, 18);
        @include merge;
        line-height: 130%;
        color: $bg-green;

        @media (max-width: 767px) {
          font-weight: 600;
        }
      }

      &-text {
        font-weight: 500;
        @include dim('fz', 18, 16);
        @include merge;
        line-height: 140%;

        @media (max-width: 767px) {
          font-weight: 400;
          line-height: 130%;
        }
      }
    }
  }

  &__certificates {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    @include dim('gap', 20, 10);
    @include merge;
    overflow: auto;

    @media (max-width: 1023px) {
      grid-template-columns: 1fr;
    }

    @media (max-width: 767px) {
      display: flex;
      margin-inline: -20px;
      padding-inline: 20px;
      margin-bottom: -20px;
      padding-bottom: 20px;
    }

    &-item {
      border: 1px solid $bg-line-dark;
      border-radius: 20px;
      padding: 30px;
      display: grid;
      gap: 30px;
      min-width: 320px;

      &-title {
        font-weight: 600;
        @include dim('fz', 25, 18);
        @include merge;
        line-height: 130%;
        text-transform: uppercase;

        @media (max-width: 1023px) {
          text-transform: initial;
        }

      }

      &-text {
        line-height: 145%;
        @include dim('fz', 18, 16);
        @include merge;

        @media (max-width: 1023px) {
          line-height: 130%;
        }
      }

      &-link {
        font-weight: 600;
        line-height: 1;
        color: $text-minimal;
        display: flex;
        gap: 50px;
        @include dim('fz', 18, 16);
        @include merge;
        transition: $transition;

        & path {
          transition: $transition;
        }

        &:hover {
          color: $bg-green;

          & path {
            fill: $bg-green;
          }
        }
      }
    }
  }

  &__sub-title {
    @include dim('mb', 20, 20);
    @include merge;
  }

  &__dashed-links {
    column-count: 2;
    column-gap: 115px;
    @include merge;

    a {
      color: $bg-green;
      position: relative;
      text-decoration: underline;
      width: fit-content;
      font-weight: 500;
      transition: $transition;
      display: block;
      @include dim('mb', 9, 9);
      @include dim('pl', 40, 40);
      @include merge;

      &:before {
        position: absolute;
        content: '';
        left: 0;
        @include dim('w', 20, 20);
        @include dim('t', 10, 10);
        @include merge;
        height: 1px;
        background-color: $bg-accent;
        transform: translateY(-50%);
        user-select: none;
        pointer-events: none;
      }

      &:hover {
        color: $bg-minimal;
        text-decoration: none;
        border-color: transparent;
      }
    }
  }

  &__dashed-texts {
    display: flex;
    flex-direction: column;
    @include dim('gap', 9, 9);
    @include merge;

    p {
      position: relative;
      font-weight: 500;
      @include dim('pl', 40, 40);
      @include dim('fz', 18, 16);
      @include merge;
      line-height: 140%;

      &:before {
        position: absolute;
        content: '';
        left: 0;
        @include dim('w', 20, 20);
        @include dim('t', 12, 12);
        @include merge;
        height: 1px;
        background-color: $icon-accent;
        transform: translateY(-50%);
        user-select: none;
        pointer-events: none;
      }
    }
  }

  &__small-title {
    @include dim('mb', 40, 30);
    @include merge;
  }

  &__vacancies-list {
    display: flex;
    flex-direction: column;

    &-item {
      display: flex;
      flex-direction: column;
      @include dim('gap', 30, 32);
      @include dim('pl', 64, 42);
      @include dim('pt', 30, 20);
      @include dim('pb', 30, 20);
      @include merge();
      border-bottom: 1px solid #DDDDDD;
      position: relative;

      &-title {
        text-transform: uppercase;
        position: relative;
        transition: $transition;

        @media (max-width: 767px) {
          font-size: 14px;
          font-weight: 600;
          text-transform: none;
        }

        &:before {
          content: '';
          position: absolute;
          @include dim('w', 29, 12);
          @include dim('h', 29, 12);
          @include dim('l', -64, -42);
          @include merge;
          background: $icon-accent;
          transition: $transition;
          top: 0;
          border-radius: 100%;
          opacity: 0;

          @media (max-width: 1199px) {
            opacity: 1;
            background: #DDDDDD;
          }

          @media (max-width: 1199px) {
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }

      &-tags {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @include dim('gap', 10, 5);
        @include merge;
        @media (max-width: 1199px) {
          margin-left: -42px;
        }
      }

      &-tag {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $bg-secondary;
        @include dim('h', 55, 51);
        @include dim('pl', 30, 16);
        @include dim('pr', 30, 16);
        @include dim('br', 10, 10);
        @include merge;
        transition: $transition;

        @media (max-width: 767px) {
          font-size: 12px;
          font-weight: 400;
        }
      }

      &:hover {
        .content-text__vacancies-list-item-title {
          color: $text-accent;

          &:before {
            opacity: 1;

            @media (max-width: 1199px) {
              background: $icon-accent;
            }
          }
        }

        .content-text__vacancies-list-item-tag {
          background: $bg-line;
          color: $text-secondary;
        }
      }
    }
  }

  &__conditions-list {
    display: flex;
    flex-direction: column;
    @include dim('gap', 10, 30);
    @include merge;

    &-item {
      display: flex;
      align-items: center;
      @include dim('gap', 20, 10);
      @include merge;

      &-title {
        @include dim('w', 400, 300);
        @include dim('min-w', 400, 300);
        @include dim('h', 51, 51);
        @include dim('br', 10, 10);
        @include merge;

        background: $bg-line;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &-text {
        @include dim('h', 51, 51);
        @include merge;
        display: flex;
        align-items: center;
      }
    }
  }

  &__icon-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include dim('gap', 15, 15);
    @include merge;

    &-item {
      background: $bg-secondary;
      @include dim('br', 10, 10);
      @include dim('p', 30, 30);
      @include dim('gap', 20, 20);
      display: flex;
      flex-direction: column;

      svg {
        @include dim('w', 45, 45);
        @include dim('h', 45, 45);
        @include merge;
      }
    }
  }

  &__schedule {
    &-list {
      display: flex;
      flex-direction: column;
      @include dim('gap', 20, 20);
      @include merge;
    }

    &-item {
      width: 100%;
      display: flex;
      align-items: center;
      @include dim('gap', 20, 20);
      @include merge;

      &-day p {
        color: #BFBFBF;
        @include dim('max-w', 143, 100);
        @include dim('min-w', 143, 100);
        @include merge;
      }

      &-inner {
        display: flex;
        align-items: center;
        transition: $transition;
        @include dim('gap', 80, 10);
        @include dim('br', 20, 20);
        @include dim('p', 40, 20);
        @include merge;
        background: $bg-secondary;

        &:hover {
          background: $bg-line;
        }
      }

      &-date p {
        color: #A3A3A3;
        @include dim('max-w', 146, 146);
        @include dim('min-w', 146, 146);
        @include merge;
      }

      &-description {
        @include dim('fz', 18, 16);
        @include merge;
      }
    }
  }

  &__speakers {

    &-list {
      .swiper {
        cursor: grab;
        min-width: 0;
        max-width: 64vw;
        @include dim('br', 20, 20);
        @include dim('pb', 80, 60);
        @include merge;

        @media (max-width: 1505px) {
          max-width: 63vw;
        }

        @media (max-width: 1199px) {
          max-width: calc(100vw - 270px);
        }

        @media (max-width: 767px) {
          max-width: calc(100% + 40px);
          margin: 0 -20px;
          padding: 0 20px 60px 20px;
          border-radius: 0;
        }

        &:active {
          cursor: grabbing;
        }

        .swiper-slide {
          width: fit-content !important;
          @include dim('max-w', 229, 229);
          @include dim('min-w', 229, 229);
        }
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      @include dim('gap', 15, 15);
      @include dim('max-w', 229, 229);
      @include dim('min-w', 229, 229);
      @include merge;

      img {
        @include dim('w', 229, 229);
        @include dim('h', 229, 229);
        @include dim('br', 20, 20);
        @include dim('mb', 5, 5);
        @include merge;
        object-fit: cover;
        overflow: hidden;
        object-position: center 20%;
      }

      &-name {
        @include dim('fz', 20, 18);
        @include merge;
        font-weight: 600;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        overflow: hidden;
      }

      &-job {
        @include dim('fz', 16, 14);
        @include merge;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        overflow: hidden;
      }
    }
  }
}

.ordered-list__btn {
  @include dim('w', 430, 300);
  @include merge;
}

@media (max-width: 1199px) {
  .content-text {
    &__top-texts p {
      font-size: 16px;
      line-height: 130%;
    }

    &__unordered-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 992px) {
  .content-text {
    &__dashed-links {
      column-count: 1;
      column-gap: normal;
    }

    &__conditions-list {
      &-item {
        flex-direction: column;
        min-width: 100%;

        &-title {
          min-width: 100%;
          font-weight: 600;
        }

        &-text {
          text-align: center;
          justify-content: center;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .ordered-list__btn {
    width: 100%;
  }

  .content-text {
    &__top-texts {
      gap: 0;
    }

    &__btn {
      width: 100%;
    }

    &__tags {
      flex-direction: column;

      p {
        width: 100%;
        padding: 15px;
      }
    }

    &__unordered-list {
      grid-template-columns: repeat(1, 1fr);

      &-item {
        &-text {
          min-height: auto;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }

    &__small-title {
      font-weight: 400;
      font-size: 16px;
    }

    &__dashed-texts {
      p {
        font-size: 14px;
        font-weight: 400;
        line-height: 130%;
      }
    }

    &__icon-list {
      grid-template-columns: repeat(1, 1fr);

      &-item {
        font-size: 14px;

        &-title {
          font-weight: 600;
        }

        &-text {
          font-weight: 400;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .content-text {
    &__schedule {
      &-list {
        flex-direction: row;
        align-items: stretch;
        max-width: calc(100% + 40px);
        overflow: auto;
        margin: 0 -20px;
        padding: 0 20px;
      }

      &-item {
        flex-direction: column;
        align-items: flex-start;
        min-width: 213px;

        &-day p, &-date p {
          font-weight: 600;
        }

        &-inner {
          flex-direction: column;
          align-items: flex-start;
          height: 100%;
        }

        &-description {
          @include dim('fz', 18, 16);
          @include merge;
        }
      }
    }
  }

  .remove-border .content__inner {
    border-top: none;
    padding-top: 0;
  }
}

.content-no-border .content__inner {
  border-top: none;
}
