@import '../../../mixins/vw';

.content-map {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: auto;
    @include dim('h', 603, 603);
    @include merge;
  }
}

@media (max-width: 1199px) {
  .content-map {
    img {
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 767px) {
  .content-map {
    min-height: 640px;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-top: -80px;
    overflow-x: auto;

    img {
      height: 100%;
      width: auto;
    }
  }
}
