extends ../../layouts/layout
block vars
block content
    include ../../components/hero
    include ../../components/about
    include ../../components/consult-form

    include ../../components/news-slider
    include ../../modal-windows/modal

    .wrapper
        +hero
        +about
        +news
    +modal({ id: 'consult-form', classes: 'consult__form' })  
        +consult-form

