-
  const defaultAboutProps = {
      classes: '',
      headline: {
          text: 'О компании',
          link: 'javascript:void(0);'
      },
      title: 'Группа компаний VR LOGISTIC является одновременно логистической компанией и таможенным представителем на территории Российской Федерации и предлагает полный комплекс услуг по организации внешнеэкономической деятельности.',
      buttonText: 'Презентации',
      numbers: [
          {
              number: 24,
              text: 'года на международном рынке',
              prefix: null
          },
          {
              number: 3191,
              text: 'клиентов',
              prefix: '+'
          },
          {
              number: 349,
              text: 'специалистов',
              prefix: null
          },
          {
              number: 11326,
              text: 'TEU перевозим за год',
              prefix: null
          }
      ]
  }

mixin about(props = defaultAboutProps, ...dataset)
  -
    const checkProps = {
        classes: props.classes ? props.classes : defaultAboutProps.classes,
        link: props.link ? props.link : defaultAboutProps.link,
        title: props.title ? props.title : defaultAboutProps.title,
        buttonText: props.buttonText ? props.buttonText : defaultAboutProps.buttonText,
        numbers: props.numbers ? props.numbers : defaultAboutProps.numbers,
    }

  include ../ui/title
  include ../ui/btn
  include ../ui/icon
  include ../ui/text
  include ../ui/headline
  section.about(class=`${checkProps.classes}`)&attributes(...dataset)
    .container
      .about__inner
        .about__info
          +headline(defaultAboutProps.headline)
          h2
            +text({ variant: 'xl', text: checkProps.title, weight: 'bold', classes: 'about__title' })
          +btn({ type: 'link', link: 'javascript:void(0);', name: checkProps.buttonText, dot: true, })
        .about__numbers.js-countup-trigger
          each number in checkProps.numbers
            .about__number
              .about__number-value
                +text({ variant: 'xxl', text: number.number, weight: 'bold', classes: 'js-countup' })
                if number.prefix
                  +text({ variant: 'xxl', text: number.prefix, weight: 'bold', })
              +text({ variant: 'xs', text: number.text, classes: 'about__number-description' })
