include ../ui/feedback-item
include ../ui/headline

mixin feedback(props = defaultFeedbackProps, ...dataset)
  -
    const defaultFeedbackProps = {
      classes: props.classes ? props.classes : '',
      headline: {
        text: 'Благодарственные письма',
        line: 'javascript:void(0);'
      },
      title: 'Работали с компанией по доставке партии автозапчастей из Германии в Россию. Весь процесс был выполнен быстро и без задержек.',
      items: [
        {
          title: 'Спасибо за сотрудничество!',
          nameService: 'Доставка груза',
          from: 'Транском Групп',
          date: '10.02.2025',
          img: './images/feedback/certificate.png',
          bigImg: './images/feedback/certificate_big.png',
        },
        {
          title: 'Благодарность ВР Логистик',
          nameService: 'Доставка груза',
          from: 'Транском Групп',
          date: '10.02.2025',
          img: './images/feedback/certificate.png',
          bigImg: './images/feedback/certificate_big.png',
        },
        {
          title: 'Партнерская благодарность',
          nameService: 'Доставка груза',
          from: 'Транском Групп',
          date: '10.02.2025',
          img: './images/feedback/certificate.png',
          bigImg: './images/feedback/certificate_big.png',
        },
        {
          title: 'Надежный партнер в логистике',
          nameService: 'Доставка груза',
          from: 'Транском Групп',
          date: '10.02.2025',
          img: './images/feedback/certificate.png',
          bigImg: './images/feedback/certificate_big.png',
        },
         {
          title: 'Спасибо за сотрудничество!',
          nameService: 'Доставка груза',
          from: 'Транском Групп',
          date: '10.02.2025',
          img: './images/feedback/certificate.png',
          bigImg: './images/feedback/certificate_big.png',
        },
        {
          title: 'Благодарность ВР Логистик',
          nameService: 'Доставка груза',
          from: 'Транском Групп',
          date: '10.02.2025',
          img: './images/feedback/certificate.png',
          bigImg: './images/feedback/certificate_big.png',
        },
        {
          title: 'Партнерская благодарность',
          nameService: 'Доставка груза',
          from: 'Транском Групп',
          date: '10.02.2025',
          img: './images/feedback/certificate.png',
          bigImg: './images/feedback/certificate_big.png',
        },
        {
          title: 'Надежный партнер в логистике',
          nameService: 'Доставка груза',
          from: 'Транском Групп',
          date: '10.02.2025',
          img: './images/feedback/certificate.png',
          bigImg: './images/feedback/certificate_big.png',
        }
      ]
    }

  section.feedback(class=`${defaultFeedbackProps.classes}`)
    .container
      .feedback__top
        +headline({ text: defaultFeedbackProps.headline.text , link: defaultFeedbackProps.headline.link, class: 'feedback__link' })
        +text({ variant: 'xs', weight: 'medium', text: defaultFeedbackProps.title, classes: 'feedback__title' })
      .feedback__swiper#gallery-container
        .swiper.feedback-swiper
          .swiper-wrapper
            each item in defaultFeedbackProps.items
              .swiper-slide
                +feedbackItem({ title: item.title, nameService: item.nameService, from: item.from, date: item.date, img: item.img, bigImg: item.bigImg })
      .swiper-pagination.feedback-swiper-pagination
