-
  const defaultHeaderProps = {
      classes: '',
  }

mixin header(props = defaultHeaderProps, ...dataset)
  -
    const checkProps = {
        links: props.links ? props.links : defaultHeaderProps.links,
        classes: props.classes ? props.classes : defaultHeaderProps.classes,
    }
    //- TODO: в будущем добавить "href" свойство для навигации и передать в шаблон
    const headerNav = [
      {
        name: 'О компании',
      },
      {
        name: 'Услуги',
      },
      {
        name: 'Экспертиза',
      },
      {
        name: 'Новости',
      },
      {
        name: 'Карьера',
      },
      {
        name: 'Контакты',
      }
    ]
  include ../ui/btn
  header.header(class=`${checkProps.classes}`)&attributes(...dataset)
    .container
      .header__wrapper
        a.header__logo(href="/")
          img(src="./icons/logo/logo-header.svg" alt="vr-logistic-logo")
        nav.header__nav 
          each nav in headerNav 
            a.header__nav-item(href='javascript:void(0);')= nav.name
        .header__info 
          +btn({
            classes: 'header__custom-btn',
            name: '',
            icon: true,
            iconName: 'search',
            size: 'small',
          }, { title: 'Поиск' })
          .header__info-btns 
            +btn({
              name: 'Обратная связь',
              variant: 'secondary',
              size: 'small'
            })
            +btn({
              name: 'Личный кабинет',
              size: 'small',
              type: 'link',
              target: '_blank'
            })
          +btn({
            classes: 'header__custom-btn',
            name: 'EN',
            size: 'small',
          }, { title: 'Выбрать язык' })  
