
-
  const defaultNewsProps = {
      classes: '',
  }

mixin news(props = defaultNewsProps, ...dataset)
  -
    const newsProps = {
      text: {
          title: 'Новости',
          subscribe: 'Следите за нашими новостями, чтобы всегда быть на шаг впереди!',
      },
      newsItems: [
        { 
          variant: 'slider', title: 'Новая услуга мультимодальных перевозок',
          description: 'Компания расширяет возможности логистики, предлагая мультимодальные перевозки с интеграцией железнодорожного и автомобильного транспорта для быстрого и удобного перемещения грузов.', 
          date: '15 октября 2024', 
          img: './images/news/image-news1.png',
          link: 'javascript:void(0);',
          classes: ''
        },
        { 
          variant: 'slider', title: 'Новая услуга мультимодальных перевозок', 
          description: 'Компания расширяет возможности логистики, предлагая мультимодальные перевозки с интеграцией железнодорожного и автомобильного транспорта для быстрого и удобного перемещения грузов.', 
          date: '15 октября 2024', 
          img: './images/news/image-news2.png',
          link: 'javascript:void(0);',
          classes: ''
        },
        { 
          variant: 'slider', title: 'Новая услуга мультимодальных перевозок', 
          description: 'Компания расширяет возможности логистики, предлагая мультимодальные перевозки с интеграцией железнодорожного и автомобильного транспорта для быстрого и удобного перемещения грузов.', 
          date: '15 октября 2024', 
          img: './images/news/image-news3.png',
          link: 'javascript:void(0);',
          classes: ''
        },
        { 
          variant: 'slider', title: 'Новая услуга мультимодальных перевозок', 
          description: 'Компания расширяет возможности логистики, предлагая мультимодальные перевозки с интеграцией железнодорожного и автомобильного транспорта для быстрого и удобного перемещения грузов.', 
          date: '15 октября 2024', 
          img: './images/news/image-news1.png',
          link: 'javascript:void(0);',
          classes: ''
        },
        { 
          variant: 'slider', title: 'Новая услуга мультимодальных перевозок', 
          description: 'Компания расширяет возможности логистики, предлагая мультимодальные перевозки с интеграцией железнодорожного и автомобильного транспорта для быстрого и удобного перемещения грузов.', 
          date: '15 октября 2024', 
          img: './images/news/image-news2.png',
          link: 'javascript:void(0);',
          classes: ''
        }
      ]
    }
    
  include ../ui/news-item
  include ../ui/btn
  include ../ui/icon
  include ../ui/input
  include ../ui/headline

  section.news
    .container
      .news__block-background
      .news__column.min
        .news__top
          +headline({ text: newsProps.text.title, href: 'javascript:void(0);', classes: 'news__link' })
        .news__subscribe
          h4.news__title= newsProps.text.subscribe
          form.news__subscribe-form(action, data-validate, no-validate) 
            +input({ validateName: 'email', placeholder: 'E-mail', name: 'email', required: true, classes: 'input--theme--t input--size--l' })
            +btn({ name: 'Подписаться', type: 'submit', variant: 'secondary' })
      .news__column
        .news__swiper-container
          .swiper.news-swiper
            .swiper-wrapper
              each itemNews in newsProps.newsItems
                .swiper-slide
                  +newsItem(itemNews)
          .swiper-pagination.news-swiper-pagination
