-
  const defaultReviewsProps = {
      classes: '',
      title: 'Отзывы сотрудников',
      subtitle: 'Работали с компанией по доставке партии автозапчастей из Германии в Россию. Весь процесс был выполнен быстро и без задержек.',
      slider: [
          {
              // name: 'Константин Михеев',
              review: 'Работали с компанией по доставке партии автозапчастей из Германии в Россию. Весь процесс был выполнен быстро и без задержек, а вся документация была подготовлена заранее, что позволило нам сэкономить время на таможенном оформлении. Огромное спасибо за профессионализм!',
              avatarName: 'Олег Смирнов',
              avatarIcon: './images/avatar.png',
              avatarJob: 'менеджер по закупкам "АвтоТех"'
          },
          {
              // name: 'Константин Михеев',
              review: 'Работали с компанией по доставке партии автозапчастей из Германии в Россию. Весь процесс был выполнен быстро и без задержек, а вся документация была подготовлена заранее, что позволило нам сэкономить время на таможенном оформлении. Огромное спасибо за профессионализм!',
              avatarName: 'Олег Смирнов',
              avatarIcon: './images/avatar.png',
              avatarJob: 'менеджер по закупкам "АвтоТех"'
          },
          {
              // name: 'Константин Михеев',
              review: 'Работали с компанией по доставке партии автозапчастей из Германии в Россию. Весь процесс был выполнен быстро и без задержек, а вся документация была подготовлена заранее, что позволило нам сэкономить время на таможенном оформлении. Огромное спасибо за профессионализм! Работали с компанией по доставке партии автозапчастей из Германии в Россию. Весь процесс был выполнен быстро и без задержек, а вся документация была подготовлена заранее, что позволило нам сэкономить время на таможенном оформлении. Огромное спасибо за профессионализм!',
              avatarName: 'Олег Смирнов',
              avatarIcon: './images/avatar.png',
              avatarJob: 'менеджер по закупкам "АвтоТех"'
          },
          {
              // name: 'Константин Михеев',
              review: 'Работали с компанией по доставке партии автозапчастей из Германии в Россию. Весь процесс был выполнен быстро и без задержек, а вся документация была подготовлена заранее, что позволило нам сэкономить время на таможенном оформлении. Огромное спасибо за профессионализм!',
              avatarName: 'Олег Смирнов',
              avatarIcon: './images/avatar.png',
              avatarJob: 'менеджер по закупкам "АвтоТех"'
          },
          {
              // name: 'Константин Михеев',
              review: 'Работали с компанией по доставке партии автозапчастей из Германии в Россию. Весь процесс был выполнен быстро и без задержек, а вся документация была подготовлена заранее, что позволило нам сэкономить время на таможенном оформлении. Огромное спасибо за профессионализм!',
              avatarName: 'Олег Смирнов',
              avatarIcon: './images/avatar.png',
              avatarJob: 'менеджер по закупкам "АвтоТех"'
          },

      ]
  }

mixin reviews(props = defaultReviewsProps, ...dataset)
  -
    const checkProps = {
        classes: props.classes ? props.classes : defaultReviewsProps.classes,
        title: props.title ? props.title : defaultReviewsProps.title,
        subtitle: props.subtitle ? props.subtitle : defaultReviewsProps.subtitle,
        slider: props.slider ? props.slider : defaultReviewsProps.slider,
    }

  include ../ui/text
  include ../ui/headline
  section.reviews(class=`${checkProps.classes}`)&attributes(...dataset)
      .container
          .reviews__inner
              .reviews__top
                  +headline({
                      text: checkProps.title,
                      classes: 'reviews__title'
                  })
                  +text({
                      variant: 'xs',
                      weight: 'medium',
                      text: checkProps.subtitle,
                      classes: 'reviews__subtitle'
                  })
              .reviews__slider
                .swiper
                  .swiper-wrapper
                      each item in checkProps.slider
                        .swiper-slide
                            .reviews__item
                                .reviews__item-content
                                    //+text({
                                    //    variant: 'm',
                                    //    weight: 'bold',
                                    //    text: item.name,
                                    //    classes: 'reviews__item-title'
                                    //})
                                    +text({
                                      variant: 'xs',
                                      weight: 'medium',
                                      text: item.review,
                                      classes: 'reviews__item-text custom-scrollbar'
                                    })
                                .reviews__item-person
                                    img.lazy(src="./images/no-image.jpg" data-src=item.avatarIcon alt=item.avatarName)
                                    .reviews__item-person-info
                                        +text({
                                            variant: 's',
                                            weight: 'bold',
                                            text: item.avatarName,
                                            classes: 'reviews__item-name'
                                        })
                                        +text({
                                            variant: 'xxs',
                                            weight: 'medium',
                                            text: item.avatarJob,
                                            classes: 'reviews__item-job'
                                        })
                  .swiper-pagination
