

-
  const defaulSocialProps = {
      classes: '',
      title: 'Поделиться:',
      social: [
        { iconName: '', href: '' },
      ]
  }

mixin social-field(props = defaulSocialProps, ...dataset)
  -
    const checkProps = {
        classes: props.classes ? props.classes : defaulSocialProps.classes,
        title: props.title ? props.title : defaulSocialProps.title,
        social: props.social ? props.social : defaulSocialProps.social,
    }

  .social-field(class=`${checkProps.classes}`)&attributes(...dataset)
    .social-field__container
      if(checkProps.title.length > 0)
        .social-field__title.text--bold.text--s= checkProps.title
      .social-field__list
        each item, index in checkProps.social.filter((num, index) => index < 3)
          +btn({
                name: '',
                type: 'link',
                classes: `social-field__item ${item.iconName}`,
                href: item.href,
                icon: true,
                iconName: item.iconName,
              })
        +btn({
          name: '',
          type: 'link',
          classes: 'social-field__item mobile',
          href: 'javascript:void(0);',
          icon: true,
          iconName: 'social-more',
        })
        .social-field__all-container
          each item, index in checkProps.social.filter((num, index) => index >= 3)
            +btn({
                  name: '',
                  type: 'link',
                  classes: `social-field__item ${item.iconName}`,
                  href: item.href,
                  icon: true,
                  iconName: item.iconName,
                })
