-
  const defaultTagsProps = {
      classes: '',
      tags: [
        {
          name: '',
          data: '',
        },
      ],
  }

mixin tags-line(props = defaultTagsProps, ...dataset)
  -
    const checkProps = {
        classes: props.classes ? props.classes : defaultTagsProps.classes,
        tags: props.tags ? props.tags : defaultTagsProps.tags,
    }
  include ../ui/text
  section.tags-line(class=`${checkProps.classes}`)&attributes(...dataset)
    .container
      .tags-line__list.js-tags-list
        each tag, index in checkProps.tags
          if(index === 0)
            label.tags-line__item.js-tags-item.active
              +text({
                        variant: 'xs',
                        weight: 'medium',
                        text: tag.name,
                    }) 
          else
            label.tags-line__item.js-tags-item
              +text({
                      variant: 'xs',
                      weight: 'medium',
                      text: tag.name,
                  })   