extends ../../layouts/layout
block vars
block content
    include ../../components/consult-form
    include ../../components/first-screen
    include ../../components/content/content
    include ../../components/content/blocks/content-text
    include ../../components/consult
    include ../../components/team
    include ../../modal-windows/modal
    .wrapper
        +first-screen({
          patternBgDesktop: './images/pattern-bg/about-desktop.svg',
          patternBgMobile: './images/pattern-bg/about-mobile.svg',
          title: 'О компании',
        })
        .content-blocks
          +content({
              title: 'Мы – больше, чем <br>просто логистика',
            })
              +content-text({
                topTexts: ['VR Logistic – это не просто транспорт и склады. Это тысячи километров маршрутов, сотни решений в минуту и команда, которая превращает сложные задачи в  , надёжные поставки.'],
                unorderedListTitle: 'Наши преимущества:',
                orderedListWithIcon: [
                  {
                    text: 'Гарантируем соблюдение сроков и сохранность грузов.',
                    icon: 'list-settings'
                  },
                  {
                    text: 'Используем современные цифровые решения для оптимизации логистики.',
                    icon: 'list-settings'
                  },
                  {
                    text: 'Подстраиваемся под любые задачи клиентов и предлагаем индивидуальные решения.',
                    icon: 'list-settings'
                  },
                  {
                    text: '20+ лет работы в международной логистике, тысячи успешных перевозок.',
                    icon: 'list-settings'
                  }
                ]
              })
          +content({
              title: 'Наши ценности',
            })
              +content-text({
                topTexts: ['VR LOGISTIC — международная группа компаний, которая более 20 лет успешно работает в сфере внешнеэкономической деятельности, транспортной логистики и таможенного оформления. За это время мы не только накопили огромный опыт в работе с самыми сложными товарными позициями, но и заслужили доверие нескольких тысяч клиентов по всему миру.'],
                features: [
                  {
                    title: 'Надёжность и точность',
                    text: 'Каждая перевозка под контролем. Мы гарантируем соблюдение сроков и безопасность грузов'
                  },
                  {
                    title: 'Гибкость и адаптация',
                    text: 'Предлагаем решения под любые задачи клиентов – от стандартных маршрутов до сложных логистических цепочек.'
                  },
                  {
                    title: 'Прозрачность и партнёрство',
                    text: 'Предлагаем решения под любые задачи клиентов – от стандартных маршрутов до сложных логистических цепочек.'
                  },
                  {
                    title: 'Глобальный охват',
                    text: 'Работаем по всему миру и находим оптимальные маршруты для любой точки назначения.'
                  },
                  {
                    title: 'Технологии и развитие',
                    text: 'Используем передовые цифровые инструменты для мониторинга и автоматизации процессов, чтобы доставка была ещё быстрее и удобнее.'
                  }
                ]
              })
          +content({
              title: 'Свидетельства и Сертификаты',
            })
              +content-text({
                topTexts: ['Подтверждают статус VRLOGISTIC как надежного международного логистического оператора'],
                certificates: [
                  {
                    title: 'Сертификат соответствия',
                    text: 'Подтверждает соответствие компании «ВР Логистик Юг» требованиям законодательства и деловой репутации.',
                    link: '#'
                  },
                  {
                    title: 'Сертификат соответствия',
                    text: 'Подтверждает соответствие компании «ВР Логистик Юг» требованиям законодательства и деловой репутации.',
                    link: '#'
                  },
                  {
                    title: 'Сертификат соответствия',
                    text: 'Подтверждает соответствие компании «ВР Логистик Юг» требованиям законодательства и деловой репутации.',
                    link: '#'
                  },
                  {
                    title: 'Сертификат соответствия',
                    text: 'Подтверждает соответствие компании «ВР Логистик Юг» требованиям законодательства и деловой репутации.',
                    link: '#'
                  }
                ]
              })
        section.team
          .container
            .team__inner
              +text({
                text: 'Команда',
                variant: 'l',
                weight: 'bold',
                classes: 'team__title'
              })
              +team
              .team__img
                img.team__img-desktop.lazy(src="./images/about/team.jpg" alt='team')
                img.team__img-mobile.lazy(src="./images/about/team-mobile.jpg" alt='team')
        +consult({ classes: 'consult--page', btnText: 'Жду звонка' })
    +modal({ id: 'consult-form', classes: 'consult__form' })
        +consult-form
