extends ../../layouts/layout
block vars
block content
    include ../../components/consult-form
    include ../../components/standarts
    include ../../components/first-screen
    include ../../components/consult
    include ../../components/content/content
    include ../../components/content/blocks/content-text
    include ../../components/services/services-other
    include ../../components/feedback
    include ../../modal-windows/modal
    .wrapper.service-detail-wrapper
        +first-screen({
          patternBgDesktop: './images/pattern-bg/solutions-desktop.svg',
          patternBgMobile: './images/pattern-bg/solutions-mobile.svg',
          title: 'FACG',
          buttonText: 'Запросить консультацию'
        })
        .content-blocks
            +content({
              rounded: true,
              title: 'Индустрия моды',
            })
                +content-text({
                })
                +text({
                  variant: 's',
                  weight: 'medium',
                  text: 'Мода - это то, с чем мы имеем дело каждый день. Фэшн-индустрия изменчива. Постоянно появляются новые идеи, тенденции, направления. Чтобы оперативно реагировать на внезапные изменения моды, торговым сетям и производителям необходима быстрая и надежная доставка «модной» продукции в места продаж.'
                })
                +text({
                  variant: 'xs',
                  weight: 'medium',
                  text: 'Мода - это то, с чем мы имеем дело каждый день. Фэшн-индустрия изменчива. Постоянно появляются новые идеи, тенденции, направления. Чтобы оперативно реагировать на внезапные изменения моды, торговым сетям и производителям необходима быстрая и надежная доставка «модной» продукции в места продаж.'
                })
                p Для этого нужны гибкие и эффективные логистические цепочки с оптимизированными сроками, т. к. правильная организация транспортировки оказывает существенное влияние на стоимость продвижения товаров к конечному потребителю.
                p Компания VR LOGISTIC предлагает отраслевое логистическое решение для российских и зарубежных производителей и оптово-розничных поставщиков фэшн-индустрии.
                p Опыт, наработанный с 2008 года по международной перевозке и таможенной очистке продукции фэшн-индустрии, компания выделила в индивидуальную логистическую схему, чтобы максимально оптимизировать сроки доставки и оформления. Например, составление многотоварной (несколько тысяч позиций) декларации занимает не более 5 часов, т. е. готовность в день обращения.
                p Логистическая специализация для фэшн индустрии рассчитана таким образом, чтобы максимально сократить ваши издержки — это специальные тарифы на страхование, доставку, оформление, хранение и дистрибуцию.
            +content({
              rounded: true,
              title: 'Дополнительные услуги',
            })
                +content-text({
                  topTexts: ['Компания VR LOGISTIC представляет вашему вниманию основные виды маршрутов, которые осуществляет наша компания. Самым популярным маршрутом на сегодняшний день остаются перевозки морским транспортом, через такие порты, как Санкт-Петербург, Новороссийск, Усть-Луга, Котка, Рига, Таллин, Клайпеда и др.'],
                  subTitle: 'Транзитные сроки и коридоры',
                  dashedLinks: [
                    'Китай-Санкт-Петербург-Москва',
                    'Китай-Котка/Рига-Москва',
                    'ЮВА-Котка/Рига-Москва',
                    'Китай-Восточный/Владивосток-Москва м+авиа',
                    'Китай-Восточный/Владивосток-Москва м+ж/д',
                    'Китай-Казахстан-Москва',
                    'Китай-Киргизия-Москва',
                    'Контейнерный поезд из Инкоу',
                    'Контейнерный поезд из Сучжоу',
                    'Китай-Забайкальск-Москва',
                    'Китай-Новороссийск-Москва/Краснодар',
                    'Китай-аэропорты Москвы',
                    'Китай-аэропорты Европы-Москва',
                    'Европа-Москва',
                    'Негабаритные перевозки',
                    'Китай-Находка-Дальний Восток-Сибирь',
                    'США-Россия (Спб)',
                    'США-Китай'
                  ]
                })
        +feedback({ classes: 'feedback--white' })
        +services-other({
          headline: {
            text: 'Услуги отраслевых решений',
            link: 'solutions.html'
          },
          list: [
            {
              name: 'Телекоммуникации',
              icon: 'telecom',
              link: 'javascript:void(0);'
            },
            {
              name: 'Автопром',
              icon: 'autoprom',
              link: 'javascript:void(0);'
            },
            {
              name: 'Спецтехника',
              icon: 'spectechic',
              link: 'javascript:void(0);'
            },
            {
              name: 'Техника и электроника',
              icon: 'techs-and-electronics',
              link: 'javascript:void(0);'
            },
            {
              name: 'Ритейл',
              icon: 'retail',
              link: 'javascript:void(0);'
            },
            {
              name: 'Нефтегазовая',
              icon: 'nefte-gaz',
              link: 'javascript:void(0);'
            },
            {
              name: 'Химическая',
              icon: 'chemistry',
              link: 'javascript:void(0);'
            },
            {
              name: 'Машиностроение',
              icon: 'machine-building',
              link: 'javascript:void(0);'
            }
          ]
        })
        +consult({ classes: 'consult--page', btnText: 'Жду звонка' })
    +modal({ id: 'consult-form', classes: 'consult__form' })
        +consult-form
