extends ../../layouts/layout
block vars
block content
  include ../../components/consult-form
  include ../../components/standarts
  include ../../components/first-screen
  include ../../components/consult
  include ../../components/content/content
  include ../../components/content/blocks/content-text
  include ../../components/services/services-other
  include ../../components/feedback
  include ../../components/presentation-inline
  include ../../modal-windows/modal
  .wrapper.solutions-detail-wrapper
    +first-screen({
      patternBgDesktop: './images/pattern-bg/solutions-desktop.svg',
      patternBgMobile: './images/pattern-bg/solutions-mobile.svg',
      title: 'FACG',
      buttonText: 'Запросить консультацию'
    })
    .content-blocks
      +content({
        rounded: true,
        title: 'Индустрия <br>моды'
      })
        +content-text({
          topTexts: ['Компания VR LOGISTIC представляет вашему вниманию основные виды маршрутов, которые осуществляет наша компания. Самым популярным маршрутом на сегодняшний день остаются перевозки морским транспортом, через такие порты, как Санкт-Петербург, Новороссийск, Усть-Луга, Котка, Рига, Таллин, Клайпеда и др.'],
        })
          .content-typo
            picture
              source(media="(max-width: 767px)" srcset="./images/solutions/mock-mobile.png")
              img.lazy(src="./images/solutions/mock.png" alt="mock")
            p Для этого нужны гибкие и эффективные логистические цепочки с оптимизированными сроками, т. к. правильная организация транспортировки оказывает существенное влияние на стоимость продвижения товаров к конечному потребителю.
            p Компания VR LOGISTIC предлагает отраслевое логистическое решение для российских и зарубежных производителей и оптово-розничных поставщиков фэшн-индустрии.
            p Опыт, наработанный с 2008 года по международной перевозке и таможенной очистке продукции фэшн-индустрии, компания выделила в индивидуальную логистическую схему, чтобы максимально оптимизировать сроки доставки и оформления. Например, составление многотоварной (несколько тысяч позиций) декларации занимает не более 5 часов, т. е. готовность в день обращения.
            p Логистическая специализация для фэшн индустрии рассчитана таким образом, чтобы максимально сократить ваши издержки — это специальные тарифы на страхование, доставку, оформление, хранение и дистрибуцию.

      +content({
        rounded: true,
        title: 'Для кого <br>и почему'
      })
        +content-text({
          topTexts: ['Логистическое решение для фэшн индустрии']
        })
          .content-typo
            .ul-group
              ul
                li.ul-header Для кого:
                li Торговые сети и эксклюзивные фэшн-бутики
                li Интернет-магазины
                li Организаторы и участники и фэшн выставок показов мод
                li Отечественные и зарубежные производители фэшн индустрии
                li Оптовые поставщики российских и зарубежных фэшн брэндов

              ul
                li.ul-header Преимущества:
                li Оптимизированные маршруты и сроки поставки дорогостоящих товаров
                li Специальный транспорт и вооруженная охрана грузов на всём пути следования
                li Надежная упаковка и грамотная сортировка груза
                li Экспресс авиа-доставка в кратчайшие сроки
                li Специализация на оформлении товаров фэшн-индустрии
                li Классификация многотоварных загрузок в течение 4-5 часов

      +content({
        rounded: true,
        title: 'Индивидуальные <br>схемы',
      })
        .content-typo
          p Отраслевое решение в области моды предусматривает проработку индивидуальных маршрутов с минимальными сроками доставки грузов. Предоставляются особые условия для транспортировки дорогостоящих грузов – специализированный транспорт и вооруженное сопровождение на всем маршруте, тщательная упаковка и обработка товара. Наличие генерального полиса страхования экспедиторской ответственности позволяет нам гарантировать сохранность дорогостоящих грузов и сводить все риски к минимуму. 
          p Таможенная очистка может быть осуществлена на любом посту России. Многолетний опыт взаимодействия с органами ФТС России позволяет проходить все процедуры быстро и без затруднений.
          p VR LOGISTIC сотрудничает со всеми крупными участниками рынка логистических услуг – с основными контейнерными линиями, экспедиторскими службами, складами временного хранения и постами ФТС. 
          p При импорте товаров из-за рубежа и дальнейшей дистрибуции по России задействуются все необходимые способы доставки: автоперевозки, морские и Ж/Д контейнерные перевозки, экспресс авиа-доставка. Развитая сеть представительств по России и за рубежом позволяет в любом регионе быстро и надежно предоставить весь спектр услуг компании.
        +presentationInline

      +content({
        rounded: true,
        title: 'Дополнительные услуги',
      })
        +content-text({
          topTexts: ['Компания VR LOGISTIC представляет вашему вниманию основные виды маршрутов, которые осуществляет наша компания. Самым популярным маршрутом на сегодняшний день остаются перевозки морским транспортом, через такие порты, как Санкт-Петербург, Новороссийск, Усть-Луга, Котка, Рига, Таллин, Клайпеда и др.'],
          subTitle: 'Транзитные сроки и коридоры',
          dashedLinks: [
            'Китай-Санкт-Петербург-Москва',
            'Китай-Котка/Рига-Москва',
            'ЮВА-Котка/Рига-Москва',
            'Китай-Восточный/Владивосток-Москва м+авиа',
            'Китай-Восточный/Владивосток-Москва м+ж/д',
            'Китай-Казахстан-Москва',
            'Китай-Киргизия-Москва',
            'Контейнерный поезд из Инкоу',
            'Контейнерный поезд из Сучжоу',
            'Китай-Забайкальск-Москва',
            'Китай-Новороссийск-Москва/Краснодар',
            'Китай-аэропорты Москвы',
            'Китай-аэропорты Европы-Москва',
            'Европа-Москва',
            'Негабаритные перевозки',
            'Китай-Находка-Дальний Восток-Сибирь',
            'США-Россия (Спб)',
            'США-Китай'
          ]
        })
    +feedback({ classes: 'feedback--white' })
    +services-other({
        headline: {
          text: 'Услуги отраслевых решений',
          link: 'solutions.html'
        },
        list: [
          {
            name: 'Телекоммуникации',
            icon: 'telecom',
            link: '/solutions-detail.html'
          },
          {
            name: 'Автопром',
            icon: 'autoprom',
            link: '/solutions-detail.html'
          },
          {
            name: 'Спецтехника',
            icon: 'spectechic',
            link: '/solutions-detail.html'
          },
          {
            name: 'Техника и электроника',
            icon: 'techs-and-electronics',
            link: '/solutions-detail.html'
          },
          {
            name: 'Ритейл',
            icon: 'retail',
            link: '/solutions-detail.html'
          },
          {
            name: 'Нефтегазовая',
            icon: 'nefte-gaz',
            link: '/solutions-detail.html'
          },
          {
            name: 'Химическая',
            icon: 'chemistry',
            link: '/solutions-detail.html'
          },
          {
            name: 'Машиностроение',
            icon: 'machine-building',
            link: '/solutions-detail.html'
          }
        ]
      })
    +consult({ classes: 'consult--page', btnText: 'Жду звонка' })
  +modal({ id: 'consult-form', classes: 'consult__form' })
    +consult-form
