mixin icon(name)
  case name
    when 'vite'
      include ../public/icons/vite.svg
    when 'search'
      include ../public/icons/search.svg
    when 'tick'
      include ../public/icons/tick.svg
    when 'account'
      include ../public/icons/account_btn.svg
    when 'social-vrchat'
      include ../public/icons/social/vrchat.svg
    when 'social-vk'
      include ../public/icons/social/vk.svg
    when 'social-telegram'
      include ../public/icons/social/telegram.svg
    when 'social-whatsapp'
      include ../public/icons/social/whatsapp.svg
    when 'close'
      include ../public/icons/close.svg  
    when 'arrow-right-opacity'
      include ../public/icons/arrows/arrow-right-opacity.svg
    default
      include ../public/icons/tick.svg
