mixin icon(name)
  case name
    when 'vite'
      include ../public/icons/vite.svg
    when 'search'
      include ../public/icons/search.svg
    when 'tick'
      include ../public/icons/tick.svg
    when 'account'
      include ../public/icons/account_btn.svg
    when 'social-vrchat'
      include ../public/icons/social/vrchat.svg
    when 'social-vk'
      include ../public/icons/social/vk.svg
    when 'social-telegram'
      include ../public/icons/social/telegram.svg
    when 'social-whatsapp'
      include ../public/icons/social/whatsapp.svg
    when 'hh'
      include ../public/icons/social/hh.svg  
    when 'car'
        include ../public/icons/services/car.svg
    when 'car-reverse'
        include ../public/icons/services/car-reverse.svg
    when 'plane'
        include ../public/icons/services/plane.svg
    when 'train'
        include ../public/icons/services/train.svg
    when 'ship'
        include ../public/icons/services/ship.svg
    when 'logistic'
        include ../public/icons/services/logistic.svg
    when 'settings'
        include ../public/icons/services/settings.svg
    when 'certificate'
        include ../public/icons/services/certificate.svg
    when 'warehouse'
        include ../public/icons/services/warehouse.svg
    when 'drone'
        include ../public/icons/services/drone.svg
    when 'shield'
        include ../public/icons/services/shield.svg
    when 'telecom'
        include ../public/icons/expertise/1.svg
    when 'autoprom'
        include ../public/icons/expertise/2.svg
    when 'spectechic'
        include ../public/icons/expertise/3.svg
    when 'techs-and-electronics'
        include ../public/icons/expertise/4.svg
    when 'fmcg'
        include ../public/icons/expertise/5.svg
    when 'retail'
        include ../public/icons/expertise/6.svg
    when 'nefte-gaz'
        include ../public/icons/expertise/7.svg
    when 'chemistry'
        include ../public/icons/expertise/8.svg
    when 'machine-building'
        include ../public/icons/expertise/9.svg
    when 'close'
      include ../public/icons/close.svg
    when 'play'
      include ../public/icons/play.svg
    when 'arrow-right-green'
        include ../public/icons/arrows/arrow-right-green.svg
    when 'arrow-right-opacity'
      include ../public/icons/arrows/arrow-right-opacity.svg
    when 'arrow-rotate-white'
        include ../public/icons/arrows/arrow-rotate-white.svg
    when 'select-arrow'
        include ../public/icons/arrows/select-arrow-bottom.svg
    when 'phone'
        include ../public/icons/phone.svg
    when 'account-transparent'
        include ../public/icons/account-transparent.svg
    when 'burger'
        include ../public/icons/burger.svg
    when 'close-burger'
        include ../public/icons/close-burger.svg
    when 'accordion-arrow'
        include ../public/icons/arrows/accordion-arrow.svg
    default
      include ../public/icons/tick.svg
