mixin icon(name)
  case name
    when 'vite'
      include ../public/icons/vite.svg
    when 'search'
      include ../public/icons/search.svg
    when 'tick'
      include ../public/icons/tick.svg
    default
      include ../public/icons/tick.svg 