mixin icon(name)
  case name
    when 'vite'
      include ../public/icons/vite.svg
    when 'search'
      include ../public/icons/search.svg
    when 'tick'
      include ../public/icons/tick.svg
    when 'close'
      include ../public/icons/close.svg  
    when 'arrow-right-opacity'
      include ../public/icons/arrows/arrow-right-opacity.svg
    default
      include ../public/icons/tick.svg
