mixin icon(name)
  case name
    when 'vite'
      include ../public/icons/vite.svg
    when 'search'
      include ../public/icons/search.svg
    when 'tick'
      include ../public/icons/tick.svg
    when 'account'
      include ../public/icons/account_btn.svg
    when 'social-vrchat'
      include ../public/icons/social/vrchat.svg
    when 'social-vk'
      include ../public/icons/social/vk.svg
    when 'social-telegram'
      include ../public/icons/social/telegram.svg
    when 'social-whatsapp'
      include ../public/icons/social/whatsapp.svg
    when 'car'
        include ../public/icons/services/car.svg
    when 'plane'
        include ../public/icons/services/plane.svg
    when 'train'
        include ../public/icons/services/train.svg
    when 'ship'
        include ../public/icons/services/ship.svg
    when 'logistic'
        include ../public/icons/services/logistic.svg
    when 'settings'
        include ../public/icons/services/settings.svg
    when 'certificate'
        include ../public/icons/services/certificate.svg
    when 'warehouse'
        include ../public/icons/services/warehouse.svg
    when 'drone'
        include ../public/icons/services/drone.svg
    when 'shield'
        include ../public/icons/services/shield.svg
    when 'close'
      include ../public/icons/close.svg
    when 'arrow-right-green'
        include ../public/icons/arrows/arrow-right-green.svg
    when 'arrow-right-opacity'
      include ../public/icons/arrows/arrow-right-opacity.svg
    default
      include ../public/icons/tick.svg
