include ./btn
-
  const defaultInputProps = {
      type: 'input',
      name: '',
      validate: false,
      validateClass: false,
      target: '_self',
      disabled: false,
      classes: '',
      size: 'default',
      variant: 'primary',
      dot: false,
  }
