-
  const defaultBurgerProps = {
      classes: '',
      accordions: [
          {
              name: 'Услуги',
              isOpen: false,
              links: [
                  {
                      name: 'Автомобильные перевозки',
                      href: 'javascript:void(0);'
                  },
                  {
                      name: 'Авиационные перевозки',
                      href: 'javascript:void(0);'
                  },
                  {
                      name: 'Железнодорожные перевозки',
                      href: 'javascript:void(0);'
                  },
                  {
                      name: 'Морские перевозки (мультимодальные)',
                      href: 'javascript:void(0);'
                  },
                  {
                      name: 'Проектная логистика',
                      href: 'javascript:void(0);'
                  },
                  {
                      name: 'Таможенное оформление',
                      href: 'javascript:void(0);'
                  },
                  {
                      name: 'Сертификация',
                      href: 'javascript:void(0);'
                  },
                  {
                      name: 'Складская логистика',
                      href: 'javascript:void(0);'
                  },
                  {
                      name: 'Доставка грузов дронами',
                      href: 'javascript:void(0);'
                  },
                  {
                      name: 'Страхование',
                      href: 'javascript:void(0);'
                  },

              ]
          },
          {
              name: 'Экспертиза',
              isOpen: false,
              links: [
                  {
                      name: 'Телекоммуникации',
                      href: 'javascript:void(0);'
                  },
                  {
                      name: 'Автопром',
                      href: 'javascript:void(0);'
                  },
                  {
                      name: 'Спецтехника',
                      href: 'javascript:void(0);'
                  },
                  {
                      name: 'Техника и электроника',
                      href: 'javascript:void(0);'
                  },
                   {
                      name: 'FMCG',
                      href: 'javascript:void(0);'
                  },
                   {
                      name: 'Ритейл',
                      href: 'javascript:void(0);'
                  },
                   {
                      name: 'Нефтегазовая',
                      href: 'javascript:void(0);'
                  }, 
                  {
                      name: 'Химическая',
                      href: 'javascript:void(0);'
                  },
                   {
                      name: 'Машиностроение',
                      href: 'javascript:void(0);'
                  }
              ]
          },
      ]
  }

mixin burger(props = defaultBurgerProps, ...dataset)
  -
    const checkProps = {
        classes: props.classes ? props.classes : defaultBurgerProps.classes,
    }

  include ../../ui/icon
  include ../../ui/accordion
  .burger(class=`${checkProps.classes}`)&attributes(...dataset)
    .container
      .burger__top
        button.burger__close.js-burger-close
          +icon('close-burger')
      .burger__body
        .burger__accordions
          a.burger__body-link(href="/about.html") О компании
          each accordion in props.accordions
            +accordion({ name: accordion.name, isOpen: accordion.isOpen })
              .accordion__content-inner.burger__accordions-list
                each link in accordion.links
                  a(href=link.href)= link.name
          a.burger__body-link(href="/news.html") Новости
          a.burger__body-link(href="/career.html") Карьера
          a.burger__body-link(href="/contacts.html") Контакты
        .burger__btns
          +btn({ name: 'Обратная связь', variant: 'secondary', size: 'small', classes: 'burger-call-form' }, {'data-hystmodal': '#consult-form'})
          +btn({ name: 'Оставить отзыв', size: 'small', type: 'link', target: '_blank' })
        .burger__links
          a.burger__links-item(href="tel: +74956469856") +7 (495) 646 98-56 
          a.burger__links-item(href="mailto:logistic@vr-logistic.ru") logistic@vr-logistic.ru   
        .burger__icons
          +btn({ classes: 'header__custom-btn', name: 'EN', size: 'small', }, {title: 'Выбрать язык'})
          +btn({ classes: 'header__custom-btn', name: '', icon: true, iconName: 'search', size: 'small', }, {title: 'Поиск'})

  .burger-plug
