-
  const defaultHeaderMenuExpertisesProps = {
      classes: '',
      links: [
          {
            mainLink: {
              name: 'Раздел',
              link: '/solutions.html',
            },
            sublinks: [
                  {
                      name: 'Подраздел',
                      link: '/solutions-detail.html'
                  },
                  {
                      name: 'Подраздел',
                      link: '/solutions-detail.html'
                  },
                  {
                      name: 'Подраздел',
                      link: '/solutions-detail.html'
                  },
                  {
                      name: 'Подраздел',
                      link: '/solutions-detail.html'
                  },
                  {
                      name: 'Подраздел',
                      link: '/solutions-detail.html'
                  },
            ]
          },
          {
              mainLink: {
                  name: 'Раздел 2',
                  link: '/solutions.html',
              },
              sublinks: [
                  {
                      name: 'Подраздел 2',
                      link: '/solutions-detail.html'
                  },
                  {
                      name: 'Подраздел 2',
                      link: '/solutions-detail.html'
                  },
              ]
          },
          {
              mainLink: {
                  name: 'Раздел 3',
                  link: '/solutions.html',
              },
              sublinks: [
                  {
                      name: 'Подраздел 3',
                      link: '/solutions-detail.html'
                  },
                  {
                      name: 'Подраздел 3',
                      link: '/solutions-detail.html'
                  },
              ]
          },
          {
              mainLink: {
                  name: 'Раздел 4',
                  link: '/solutions.html',
              },
              sublinks: [
                  {
                      name: 'Подраздел 4',
                      link: '/solutions-detail.html'
                  },
                  {
                      name: 'Подраздел 4',
                      link: '/solutions-detail.html'
                  },
                  {
                      name: 'Подраздел 4',
                      link: '/solutions-detail.html'
                  },
              ]
          }
      ]
  }

mixin header-menu-expertises(props = defaultHeaderMenuExpertisesProps, ...dataset)
  -
    const checkProps = {
        links: props.links ? props.links : defaultHeaderMenuExpertisesProps.links,
        classes: props.classes ? props.classes : defaultHeaderMenuExpertisesProps.classes,
    }



  .header-menu.header-menu-expertises(
    class=`${checkProps.classes}`,
    data-menu="expertises"
  )&attributes(...dataset)
    .container
      .header-menu-expertises__list
        each col in checkProps.links
          .header-menu-expertises__list-col
            a.header-menu-expertises__list-col-main-link(
              href=col.mainLink.link
            )= col.mainLink.name
            .header-menu-expertises__list-col-list
              each sublink in col.sublinks
                a.header-menu-expertises__list-col-list-item(href=sublink.link)= sublink.name
