-
  const defaultHeaderMenuExpertisesProps = {
      classes: '',
      links: [
          {
            icon: 'telecom',
            name: 'Телекоммуникации',
            link: '/solutions-detail.html'
          },
          {
              icon: 'autoprom',
              name: 'Автопром',
              link: '/solutions-detail.html'
          },
          {
              icon: 'spectechic',
              name: 'Спецтехника',
              link: '/solutions-detail.html'
          },
          {
              icon: 'techs-and-electronics',
              name: 'Техника и электроника',
              link: '/solutions-detail.html'
          },
          {
              icon: 'fmcg',
              name: 'FMCG',
              link: '/solutions-detail.html'
          },
          {
              icon: 'retail',
              name: 'Ритейл',
              link: '/solutions-detail.html'
          },
          {
              icon: 'nefte-gaz',
              name: 'Нефтегазовая',
              link: '/solutions-detail.html'
          },
          {
              icon: 'chemistry',
              name: 'Химическая',
              link: '/solutions-detail.html'
          },
          {
              icon: 'machine-building',
              name: 'Машиностроение',
              link: '/solutions-detail.html'
          },
      ]
  }

mixin header-menu-expertises(props = defaultHeaderMenuExpertisesProps, ...dataset)
  -
    const checkProps = {
        links: props.links ? props.links : defaultHeaderMenuExpertisesProps.links,
        classes: props.classes ? props.classes : defaultHeaderMenuExpertisesProps.classes,
    }



  .header-menu.header-menu-services(class=`${checkProps.classes}`, data-menu="expertises")&attributes(...dataset)
    .container
      .header-menu-services__list
        each link in checkProps.links
          a.header-menu-services__item(href=link.link)&attributes(...dataset)
            +icon(link.icon)
            +text({ text: link.name, classes: 'header-menu-services__item-name', variant: 's', weight: 'medium', })
