-
  const defaultHeaderMenuServicesProps = {
      classes: '',
      links: [
          {
            icon: 'car',
            name: 'Автомобильные перевозки',
              link: '/services-detail.html'
          },
          {
              icon: 'plane',
              name: 'Авиационные перевозки',
              link: '/services-detail.html'
          },
          {
              icon: 'train',
              name: 'Железнодорожные перевозки',
              link: '/services-detail.html'
          },
          {
              icon: 'ship',
              name: 'Мультимодальные перевозки',
              link: '/services-detail.html'
          },
          {
              icon: 'logistic',
              name: 'Проектная логистика',
              link: '/services-detail.html'
          },
          {
              icon: 'settings',
              name: 'Таможенное оформление',
              link: '/services-detail.html'
          },
          {
              icon: 'certificate',
              name: 'Сертификация',
              link: '/services-detail.html'
          },
          {
              icon: 'warehouse',
              name: 'Складская логистика',
              link: '/services-detail.html'
          },
          {
              icon: 'drone',
              name: 'Доставка грузов дронами',
              link: '/services-detail.html'
          },
          {
              icon: 'shield',
              name: 'Страхование',
              link: '/services-detail.html'
          },
      ]
  }

mixin header-menu-services(props = defaultHeaderMenuServicesProps, ...dataset)
  -
    const checkProps = {
        links: props.links ? props.links : defaultHeaderMenuServicesProps.links,
        classes: props.classes ? props.classes : defaultHeaderMenuServicesProps.classes,
    }


  include ../../ui/icon
  include ../../ui/text
  .header-menu.header-menu-services(class=`${checkProps.classes}`, data-menu="services")&attributes(...dataset)
    .container
      .header-menu-services__list
        each link in checkProps.links
          a.header-menu-services__item(href=link.link)&attributes(...dataset)
            +icon(link.icon)
            +text({ text: link.name, classes: 'header-menu-services__item-name', variant: 's', weight: 'medium', })
