extends ../../layouts/layout
block vars
block content
    include ../../components/consult-form
    include ../../components/standarts
    include ../../components/first-screen
    include ../../components/expertise/expertise
    include ../../components/consult
    include ../../modal-windows/modal
    .wrapper
        +first-screen({
          patternBgDesktop: './images/pattern-bg/solutions-desktop.svg',
          patternBgMobile: './images/pattern-bg/solutions-mobile.svg',
          title: 'Отраслевые решения',
          buttonText: 'Запросить консультацию'
        })
        +expertise
        +standarts
        +consult({ classes: 'consult--page', btnText: 'Жду звонка' })
    +modal({ id: 'consult-form', classes: 'consult__form' })
        +consult-form
