:root {
  --primary-font: Montserrat, sans-serif;
  --white: #ffffff;
  --black: #000000;
  --icon-primary: #ffffff;
  --icon-secondary: #494949;
  --icon-minimal: #bfbfbf;
  --icon-dark-green: #124f2e;
  --icon-accent: #43b02a;
  --bg-primary: #ffffff;
  --bg-secondary: #fafafa;
  --bg-secondary-light: #fdfdfd;
  --bg-accent: rgb(9, 54, 30);
  --bg-minimal: #124f2e;
  --bg-green: #43b02a;
  --bg-green-light: #bdddbd;
  --bg-line: #f2f8f2;
  --bg-line-dark: #DDDDDD;
  --text-primary: #494949;
  --text-invert: #ffffff;
  --text-minimal: #bfbfbf;
  --text-minimal-dark: #a3a3a3;
  --text-accent: #43b02a;
  --text-secondary: #124f2e;
  --text-green-light: #bdddbd;
  --logo-invert: #ffffff;
  --logo-green: #43b02a;
  --logo-dark-green: #124f2e;
  --btn-text-primary: #494949;
  --btn-text-invert: #ffffff;
  --btn-text-minimal: #43b02a;
  --btn-text-secondary: #124f2e;
  --btn-text-disabled: #a3a3a3;
  --btn-bg-default: #43b02a;
  --btn-bg-hover: #124f2e;
  --btn-bg-focus: #43b02a;
  --btn-bg-active: #09361e;
  --btn-bg-disabled: #d9dddd;
  --btn-bg-invert: #d9dddd;
  --prototype-secondary: #EDEDED;
  --tg: #1c64d9;
  --vk: #0050d2;
  --dzen: #515151;
  --instagram: #d23b94;
  --tiktok: #222222;
  --facebook: #0866ff;
  --youtube: #f50021;
  --post: #2b2b2b;
  --whatsapp: #5BD066;
  --vrchat: black;
  --dzen-black: black;
  --transition: ease-in-out 0.3s;
}

// Fonts
$primary-font: var(--primary-font);

// colors
$white: var(--white);
$black: var(--black);

$icon-primary: var(--icon-primary);
$icon-secondary: var(--icon-secondary);
$icon-minimal: var(--icon-minimal);
$icon-dark-green: var(--icon-dark-green);
$icon-accent: var(--icon-accent);

$bg-primary: var(--bg-primary);
$bg-secondary: var(--bg-secondary);
$bg-secondary-light: var(--bg-secondary-light);
$bg-accent: var(--bg-accent);
$bg-minimal: var(--bg-minimal);
$bg-green: var(--bg-green);
$bg-green-light: var(--bg-green-light);
$bg-line: var(--bg-line);
$bg-line-dark: var(--bg-line-dark);

$text-primary: var(--text-primary);
$text-invert: var(--text-invert);
$text-minimal: var(--text-minimal);
$text-minimal-dark: var(--text-minimal-dark);
$text-accent: var(--text-accent);
$text-secondary: var(--text-secondary);
$text-green-light: var(--text-green-light);

$logo-invert: var(--logo-invert);
$logo-green: var(--logo-green);
$logo-dark-green: var(--logo-dark-green);

$btn-text-primary: var(--btn-text-primary);
$btn-text-invert: var(--btn-text-invert);
$btn-text-minimal: var(--btn-text-minimal);
$btn-text-secondary: var(--btn-text-secondary);
$btn-text-disabled: var(--btn-text-disabled);

$btn-bg-default: var(--btn-bg-default);
$btn-bg-hover: var(--btn-bg-hover);
$btn-bg-focus: var(--btn-bg-focus);
$btn-bg-active: var(--btn-bg-active);
$btn-bg-disabled: var(--btn-bg-disabled);
$btn-bg-invert: var(--btn-bg-invert);
$prototype-secondary: var(--prototype-secondary);
$tg: var(--tg);
$vk: var(--vk);
$dzen: var(--dzen);
$dzen-black: var(--dzen-black);
$instagram: var(--instagram);
$tiktok: var(--tiktok);
$facebook: var(--facebook);
$youtube: var(--youtube);
$post: var(--post);
$whatsapp: var(--whatsapp);

$vrchat: var(--vrchat);

// Other
$transition: var(--transition);
