extends ../../layouts/layout
block vars
block content
    include ../../components/consult-form
    include ../../components/standarts
    include ../../components/first-screen
    include ../../components/consult

    include ../../components/content/content
    include ../../components/content/blocks/content-map
    include ../../components/content/blocks/content-text

    include ../../components/services/services-other

    include ../../modal-windows/modal
    .wrapper.service-detail-wrapper
        +first-screen({
          patternBgDesktop: './images/pattern-bg/services-desktop.svg',
          patternBgMobile: './images/pattern-bg/services-mobile.svg',
          title: 'Автомобильные перевозки',
          buttonText: 'Запросить консультацию'
        })
        .content-blocks
            +content({
              rounded: true,
              title: 'Основные маршруты и направления',
              classes: 'content--bg-secondary',
            })
              +content-map
            +content({
              rounded: true,
              title: 'ВР ЛОГИСТИК — международная логистика для ваших грузов',
            })
                +content-text({
                  btn: true,
                  btnText: 'Оставить заявку',
                  btnModal: true,
                  topTexts: [
                    'Перевозки грузов автомобильным транспортом на сегодняшний день являются одним из наиболее популярных способов грузодоставки товаров по России и всему миру.',
                    'Вы сможете выбрать любое международное или внутрироссийское направление, а наша компания обеспечит оперативную, безопасную и качественную перевозку.'
                  ],
                })
            +content({
              rounded: true,
              title: 'Виды грузовых автоперевозок',
            })
                +content-text({
                  topTexts: ['Выбирая автоперевозки, вы всегда выбираете качество, быструю перевозку, недолгие работы по погрузке и разгрузке товаров, а также безопасность. Ваш груз будет в полной сохранности на всем пути.'],
                  tags: ['Малотоннажные', 'Крупнотоннажные', 'Негабаритные и тяжеловесные грузы', 'text', 'text 2', 'text 3', 'text 4']
                })
            +content({
              rounded: true,
              title: 'Преимущества автоперевозок',
            })
                +content-text({
                  topTexts: ['Кроме того, автоперевозки могут осуществляться сборным путем, что позволяет снизить конечную стоимость услуги. Компания VR LOGISTIC предлагает весь спектр услуг по автомобильным перевозкам: перевозки по Москве, России, Европе, Китаю, страхование товара, подготовка таможенной документации и оформление на постах, инспекцию и экспедирование.'],
                  unorderedList: [
                    {
                      text: 'Оперативность'
                    },
                    {
                      text: 'Транспортировка практически в любую точку и в удобное время'
                    },
                    {
                      text: 'Груз будет доставлен точно по адресу'
                    },
                    {
                      text: 'Вы сможете выбрать маршрут, который кажется наиболее подходящим'
                    },
                    {
                      text: 'Провозка может быть выполнена по другому маршруту без ущерба оговоренным срокам'
                    },
                    {
                      text: 'Предоставление товаро-сопроводительных и бухгалтерских документов Заказчику'
                    },
                  ]
                })
            +content({
              rounded: true,
              title: 'Дополнительные услуги',
            })
                +content-text({
                  topTexts: ['Компания VR LOGISTIC представляет вашему вниманию основные виды маршрутов, которые осуществляет наша компания. Самым популярным маршрутом на сегодняшний день остаются перевозки морским транспортом, через такие порты, как Санкт-Петербург, Новороссийск, Усть-Луга, Котка, Рига, Таллин, Клайпеда и др.'],
                  subTitle: 'Транзитные сроки и коридоры',
                  dropDown: [
                    { title: "Китай-Восточный/Владивосток-Москва м+авиа", description: "Самым популярным маршрутом на сегодняшний день остаются перевозки морским транспортом, через такие порты, как Санкт-Петербург, Новороссийск, Усть-Луга, Котка, Рига, Таллин, Клайпеда и др." },
                    { title: "Китай-Казахстан-Москва", description: "Самым популярным маршрутом на сегодняшний день остаются перевозки морским транспортом, через такие порты, как Санкт-Петербург, Новороссийск, Усть-Луга, Котка, Рига, Таллин, Клайпеда и др." },
                    { title: "Китай- Киргизия-Москва", description: "Самым популярным маршрутом на сегодняшний день остаются перевозки морским транспортом, через такие порты, как Санкт-Петербург, Новороссийск, Усть-Луга, Котка, Рига, Таллин, Клайпеда и др." },
                    { title: "Китай-аэропорты Москвы", description: "Самым популярным маршрутом на сегодняшний день остаются перевозки морским транспортом, через такие порты, как Санкт-Петербург, Новороссийск, Усть-Луга, Котка, Рига, Таллин, Клайпеда и др." },
                    { title: "Китай-Находка-Дальний Восток-Сибирь", description: "Самым популярным маршрутом на сегодняшний день остаются перевозки морским транспортом, через такие порты, как Санкт-Петербург, Новороссийск, Усть-Луга, Котка, Рига, Таллин, Клайпеда и др." },
                    { title: "США-Россия (Спб)", description: "Самым популярным маршрутом на сегодняшний день остаются перевозки морским транспортом, через такие порты, как Санкт-Петербург, Новороссийск, Усть-Луга, Котка, Рига, Таллин, Клайпеда и др." },
                    { title: "США-Китай", description: "Самым популярным маршрутом на сегодняшний день остаются перевозки морским транспортом, через такие порты, как Санкт-Петербург, Новороссийск, Усть-Луга, Котка, Рига, Таллин, Клайпеда и др." },
                    { title: "Контейнерный поезд из Инкоу", description: "Самым популярным маршрутом на сегодняшний день остаются перевозки морским транспортом, через такие порты, как Санкт-Петербург, Новороссийск, Усть-Луга, Котка, Рига, Таллин, Клайпеда и др." },
                    { title: "Контейнерный поезд из Сучжоу", description: "Самым популярным маршрутом на сегодняшний день остаются перевозки морским транспортом, через такие порты, как Санкт-Петербург, Новороссийск, Усть-Луга, Котка, Рига, Таллин, Клайпеда и др." },
                  ],
                })
            +content({
              rounded: true,
              title: 'Основные этапы перевозки',
            })
                +content-text({
                  orderedList: [
                    'Анализ весогабаритных характеристик перевозимого груза',
                    'Выбор оптимального маршрута следования',
                    'Оформление/ проверка оформленных товаро-сопроводительных документов',
                    'Мониторинг движения транспортного средства в пути следования',
                    'Транспортировка грузополучателю',
                    'Предоставление товаро-сопроводительных и бухгалтерских документов Заказчику'
                  ]
                })
                +btn({
                  name: 'Заказать перевозку',
                  dot: true,
                  classes: 'ordered-list__btn'
                }, { 'data-hystmodal': '#consult-form' })

        +services-other
        +standarts
        +consult({classes: 'consult--page consult--white', btnText: 'Жду звонка'})
    +modal({ id: 'consult-form', classes: 'consult__form' })
        +consult-form
